[2022-03-30 13:09] sbastrakov commented on #4012
Oh, thanks for reporting. It could be a problem on a system side, but could also be something we affect in [this script](https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/etc/picongpu/cpuNumaStarter.sh) that normally wraps all calls on CPUs (i.e. it is used in all or most profiles for CPUs).

[2022-03-31 06:07] psychocoderHPC commented on #4025
Yes I think we will soon update to the latest alpaka and will pull therefore the boost 1.74 dependency anyway. So let us lift the boost version together with alpaka.

[2022-03-31 06:16] psychocoderHPC commented on #4012
In this case I assume that MPI is already pinning threads you need to disable thread pinning in this case. Depending on the MPI flavor the option `--bind-to none` should disable MPI pinning.

@sbastrakov I think @jan is not using the script to pin host threads.

[2022-03-31 06:59] sbastrakov commented on #4012
Oh we also do `--bind-to none` in some places, e.g. for the `defq` partition on Hemera.
Ah true, with directly launching PIConGPU the script won't be used, it's only when launching through `tbg`.

[2022-03-31 09:46] j-stephan commented on #4012
Yup, it seems that the `--bind-to none` was the missing factor. The performance looks much better now.

[2022-03-31 16:51] kimjohn1 commented on #4012
@sbastrakov

Sounds exciting. Tell me how I can implement this fix in my Desktop PC installation of PIConGPU.  I have been using the tbg execution step from Usage, Basics, Step-by-Step, 3
`tbg -s bash -c etc/picongpu/1.cfg -t etc/picongpu/bash/mpiexec.tpl $SCRATCH/runs/lwfa_001`

What do I need to change?
Kim

[2022-04-01 07:18] sbastrakov commented on #4012
Hello @kimjohn1 ,

The `etc/picongpu/bash/mpiexec.tpl` file you used is located in the directory where you complie PIConGPU. When this directory was created with `pic-create`, the file was copied from the code base [here](https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/etc/picongpu/bash/mpiexec.tpl). The line that actually launches PIConGPU is [this one](https://github.com/Compu

[2022-04-01 16:53] kimjohn1 commented on #4012
@sbastrakov

I tried both of your suggestions.  Adding `--bind-to none` to
`src/picongpu/etc/picongpu/bash/mpiexec.tpl` resulted in all available cores being engaged when `PIC_BACKEND="omp2b:native"` is used.  Huzzah!

I removed `--bind-to none` and replaced  `!TBG_dstPath/tbg/openib.conf` with
`!TBG_dstPath/tbg/cpuNumaStarter.sh`.  That had no effect, and the LaseWakefield simulation executed on

[2022-04-01 17:07] sbastrakov commented on #4012
Glad it can use all cores now!

We definitely need to extend docs on CPU utilization as suggested by issue #4031 , I just self-assigned it

[2022-04-01 17:28] kimjohn1 commented on #4012
@sbastrakov

Correction to my report; Reviewing my notes, I find that I did not conduct a test with `!TBG_dstPath/tbg/cpuNumaStarter.sh` in `src/picongpu/etc/picongpu/bash/mpiexec.tpl` without ` --bind-to none` in there.

I ran a test with that configuration just now and find that only 2 cores are engaged during execution.  So the conclusion of my little series of tests is that including `--bind-t

[2022-04-04 07:42] steindev commented on #4011
Hey @kimjohn1. Did you found faulty hardware in the failing lab computer? If so, would you please close the issue?

[2022-04-04 07:49] steindev commented on #3723
With my own setup of a propagating laser pulse I could not see this issue. I believe, the problem is that @tomaslevyy used a **plane wave laser**, which have nonzero field values along the whole transverse plane, in combination with absorbing boundary conditions. This is not advisable.

There should always be some vacuum left between the laser fed into the simulation and the boundary.
My setup doe

[2022-04-04 07:50] steindev commented on #3723
Will close the issue and leave it with the recommendation, to use laser with infinite extent along the transverse plane only in combination with periodic boundary conditions.

[2022-04-04 07:50] #3723 closed

[2022-04-04 08:37] sbastrakov commented on #3723
It's also on my plan for this week to re-check this or similar behavior that i suspect may be problematic.

[2022-04-04 12:30] sbastrakov commented on #4012
Thanks for testing @kimjohn1 . So now i think we can consider this issue resolved and i'm closing it. Feel free to reopen if needed.

We made another issue to extend the CPU documentation #4031 and I now provided PR #4039 to try and fix it, your input is welcome there.

[2022-04-04 12:30] #4012 closed, assigned to nobody

[2022-04-04 16:31] kimjohn1 commented on #4011
@steindev

I have been conducting some hardware troubleshooting, and have not found a specific cause yet.  The other 2 lab computers are working without issue.  All 3 computers are using the same software environment.  I'll conclude from the evidence we have available that some type of hardware problem is the most likely cause, and we can close this issue.  I'll build a replacement for the malfunc

[2022-04-04 16:31] #4011 closed, assigned to nobody

[2022-04-05 12:33] denisbertini opened #4041 "clang 13.0.0 without openMP support warning"
Trying to compile picongpu on our new centos7 singularity container i got the following warning from the `find_package` in `PMacc`:

[code]
How to add the openMP support in `clang`  ?

[2022-04-05 12:38] sbastrakov commented on #4041
@psychocoderHPC do you have an idea?

[2022-04-05 12:55] psychocoderHPC commented on #4023
Feature is implemented in #4042

[2022-04-05 14:52] berceanu commented on #4032
My vote goes to Option B, for improved clarity.

[2022-04-05 15:24] psychocoderHPC commented on #4031
solved with  #4039

[2022-04-05 15:24] #4031 closed, assigned to sbastrakov

[2022-04-06 08:55] NeonBohdan commented on #3996
@pordyna Thanks

1) As I understand we assume that directed motion energy an order of magnitude less than thermal energy?
2) Is there a way to actually differ directed motion energy and thermal energy from this or any other `openPMD` info
3) Is  energy density calculated over cells?

[2022-04-07 08:35] Theodotus1243 commented on #3996
@pordyna Thanks
@PrometheusPi

1) As I understand I need [openPMD energy](https://github.com/ComputationalRadiationPhysics/picongpu/blob/master/include/picongpu/param/fileOutput.param#L48) and [Count per Supercell](https://picongpu.readthedocs.io/en/0.6.0/usage/plugins/countPerSupercell.html#usage-plugins-countpersupercell) or [Density](https://github.com/ComputationalRadiationPhysics/picongpu/blo

[2022-04-07 13:43] denisbertini opened #4045 "Linking errors on centos:7.9.2009 with Clang 13.0 and ROCm 4.3.1"
I am facing a  problem trying to link picongpu main program against the boost options and filesystem library.
My settings are
- `centos 7.9` (singularity container)
- `Rocm 4.3.1`  hipcc and `Clang 13.0`
[code]
- `boost 1.75`
- `cmake 3.21`

trying to link using such a system.  i got the following problem:

[code]
Any idea what could be wrong here ?

[2022-04-07 14:14] psychocoderHPC commented on #4045
Could you please post the command you used to build boost. It looks like you build boost for C++98 instead of C++11 or newer.
The ABI for std::string in C++98 and C++11+ is not compatible therefore the symbol was not found.

Here are the commands how to build boost: https://picongpu.readthedocs.io/en/0.6.0/install/dependencies.html?highlight=boost#boost

If you build boost with the clang compiler

[2022-04-07 14:43] denisbertini commented on #4045
I used the following commands to build boost,
[code]

[2022-04-07 14:47] sbastrakov opened #4046 "Auto-adjusting domain to fit field absorber leads to domain fully or almost fully covered by absorber"
So this procedure could leave literally zero or very little vacuum, depending on how supercells lay out. This is probably not what a user wanted for at least two reasons:

- Fields' dynamics get changed due to absorber (with non-zero strength), and the vacuum area is generally too thin in the adjusted direction to fit everything it needs to
- When vacuum size gets to exactly 0, incident field solv

[2022-04-07 15:09] denisbertini commented on #4045
using the additional `toolset` option in bootstrap.sh i got
[code]
showing still using `gcc` toolset. May be one should ignore this ...

[2022-04-07 15:37] denisbertini commented on #4045
recompiling `boost` with the additional `toolset` option set to `clang` did not solve the linking issue

[2022-04-08 14:29] sbastrakov opened #4048 "picongpu::cellSize is surprisingly not constexpr"
The variable is defined [here](https://github.com/ComputationalRadiationPhysics/picongpu/blob/aa1ca6ffd9bbbe93210c3803c7c8161b899fcd01/include/picongpu/unitless/grid.unitless#L33) and used in numerous places, including in hot kernels. So it seems having it as `constexpr` could potentially help performance-wise. It is also generally cleaner since it's quite unexpected to not be `constexpr` and forc

[2022-04-10 19:09] cbontoiu opened #4051 "suggestion for writting data"
Hello,

I was surprised to find out that my computational memory limits for a given model can be extended if I run the model more times and ask for less data to be written. Example for a model:

My limit for the local machine is

- ```10``` macroparticles per cell and ```0.115 nm``` mesh size if I ask for: electric field, magnetic field, particles, energy density, energy histogram and charge densi

[2022-04-11 07:19] sbastrakov commented on #4051
Hello @cbontoiu , thanks for your feedback.

We actually do try to keep a small amount of data output "slots" are reuse them for different kinds of output. So in principle the amount of extra memory required for output should **not** scale with number of output fields. Apparently, something like that still happens for your use case. Could you attach extra information:

- Your full set of `.param`

[2022-04-11 08:20] denisbertini commented on #4045
further investigations are showing  that the problem comes from `hipcc` installed on our `centos7.9` container.
In the singularity `def` file we have
[code]
this will i guess install `Rocm` package for the default `centos7 gcc` compiler which is not `c++11` compatible, so the linking problem i guess ....
I should then install a newer `gcc` compiler  and manually install `Rocm`  and compile the lib

[2022-04-11 08:50] cbontoiu commented on #4051
Hi @sbastrakov
Thank you for your quick reply. In this case, it meeans that I don't fully use the ```memory``` scaling option (see the image above) because I don't understand how it works. However I acknowledge impact of those parameters on performance and memory limitations. I tried a new run with
![image](https://user-images.githubusercontent.com/7108691/162699520-d3cbc02c-6ec4-497d-a8f5-3b0738b

[2022-04-11 08:51] psychocoderHPC commented on #4045
Yes you should use a newer gcc.

The reason for
[code]

even if you select clang as toolset could be that you have no `clang` and `clang++` in your `PATH` environment variable. You can check for both with `which clang` and `which clang++` but maybe installing a newer gcc helps already.

[2022-04-11 08:53] denisbertini commented on #4045
Do you have any experience installing `Rocm` suite with `spack`?

[2022-04-11 09:11] psychocoderHPC commented on #4051
Its sounds like your memory limitations is based on the host memory. If you write all derived fields, particles and normal fields (electric field, magnetic field, particles, energy density, ...) together within one IO step than you need all on host side at least the memory of the resulting file, mostly more. If you run the simulation 4 times and only select few files you need less host memory.
You

[2022-04-11 09:12] sbastrakov commented on #4051
Regarding, the "memory scaling option" you mentined, if you meant `DIR_SCALING_FACTOR` it is not related to your issue, changing it should have no effect in your case. Sorry for confusing wording in my reply.

Thanks for providing the data, I am looking into it now.

[2022-04-11 09:16] sbastrakov commented on #4051
I agree with @psychocoderHPC that it may be that the issue comes from host memory, not device memory.

@cbontoiu  From the images you provided, the system should have enough host memory, but could it be that your job did not fully allocate it? I am not familiar with your system, but for example it could be that there is some amount allocated by default and you need to explicitly put a parameter so

[2022-04-11 09:28] cbontoiu commented on #4051
@sbastrakov I don't touch the computer while heavy ```PIConGPU``` simulations run so most of the resources should have been allocated. I don't think my OS or GPUs limit the memory allocated to a given process and if they do, I don't have a clue where to look for.

[2022-04-11 09:44] psychocoderHPC commented on #4045
No sry, on your dev system I use `apt` and on other systems, I use whatever the admin is providing.

[2022-04-11 09:47] sbastrakov commented on #4051
Okay, then i have no explanation so far. For your grid size 14272 x 14272 x 1 the stored-in-simuation grid data should actually be quite small relative to your hardware: about 7.3 GB for E + B + J, and each scalar field output like charge density should be only about 0.8 GB. For particles it's harder to say, but you can get the actual number of macroparticles in simulation by adding `--e_macroPart

[2022-04-11 10:01] sbastrakov commented on #4051
Oh, also as a simplistic but useful way to get extra information, you could also just use any "normal" utility of your operating system to check CPU memory usage during the run.

[2022-04-11 11:20] cbontoiu commented on #4051
Hello again and thanks for your helpful input. For the memory usage in the compilation phase I have
![image](https://user-images.githubusercontent.com/7108691/162728850-3c2125f7-f179-4e14-98f2-ca51ad083dec.png)
but execution failed to start because of mistakes in the ```.cfg``` file

I guess there can be only one ```TBG_openPMD``` plugin and i need to concatenate my thee plugins. also note that I

[2022-04-11 11:26] sbastrakov commented on #4051
@cbontoiu i believe you forgot `!` before `TBG_openPMD_densities` when defining `TBG_plugins`

[2022-04-11 11:26] sbastrakov commented on #4051
Oh, and also before `TBG_openPMD_particles`

[2022-04-11 11:47] cbontoiu commented on #4051
I corrected those but still get the error
![image](https://user-images.githubusercontent.com/7108691/162733154-415485cb-d328-4dfc-a3b6-cd5d3785c235.png)
It must be something inside one ore more of the ```DATA``` plugins syntax

[2022-04-11 11:49] cbontoiu commented on #4051
my ```fileOutput.param``` contains
![image](https://user-images.githubusercontent.com/7108691/162733352-99767ddc-ab2a-4998-b403-26c8d432bffa.png)
so all required data should be there.

[2022-04-11 12:10] cbontoiu commented on #4051
Solved. It is about the white space around "=" just after the plugin names.

[2022-04-11 12:23] cbontoiu commented on #4051
Now my problem is that I have in my ```speciesDefinition.param```
[code]
and thus using in the ```.cfg``` file

[code]

seems to dump particle data for the Carbon ions as well, at least I saw a related message in the verbose output:

![image](https://user-images.githubusercontent.com/7108691/162738380-3ab20f62-5aba-4400-8cee-3836eec33f66.png)

But neither

[code]
nor
[code]
works, though my ```spe

[2022-04-11 12:37] sbastrakov commented on #4051
`species_all` is all species you declared in the setup. To have a single species, please use the text name that you put when declaring it, for your setup should be `e_all`, `C_all`. Running help for PIConGPU after building it (`./bin/picongpu -h`), shows all available options for your setup.

[2022-04-11 12:42] cbontoiu commented on #4051
Unhandled exception of type 'St13runtime_error' with message 'openPMDWriter: unknown data source 'species_e'', terminating

[2022-04-11 12:43] sbastrakov commented on #4051
Oh sorry I gave a wrong flag.

It's actually `e_all` to get all derived fields for electrons, and `C_all` for carbon

[2022-04-11 13:13] #4046 closed, assigned to nobody

[2022-04-11 14:45] sbastrakov opened #4052 "Consider changing parameters for incident field generation surface position"
Discussed offline with @PrometheusPi , we may want to set it as fixed total position, and not as offset from field absorber, in order to better interact with moving window.

[2022-04-12 09:06] cbontoiu commented on #4051
Hello again,

I have a model that failed at ~12%. In the archive attached there is ```build_log.txt``` which contains the output written during compilation and ```runtime_log.txt``` which contains the verbose output written at runtime.

Please check if you can spot anything interesting. I cannot confirm that this model will work in four separate runs as described above but writing the ```openPMD``

[2022-04-12 10:01] sbastrakov commented on #4051
Thanks for the log. It appears reasonable in terms of how things are allocated. However from this log it is still unclear when and why the crash happens. I saw you redirected both streams to the file, but somehow only the terminate message got there and not the "reason". Did it happen to output something more, maybe on the screen or there is also a special file created for each job and some output

[2022-04-12 10:06] sbastrakov commented on #4051
Oh, if we suspect openPMD API (which we do not know for sure yet), you could also try switching to the HDF5 backend. For that, (assuming your openPMD API installation has both HDF5 and ADIOS) no need to recompile, simply replace `--openPMD.ext bp` with `--openPMD.ext h5` in multiple places of your `.cfg` file.

[2022-04-12 10:15] cbontoiu commented on #4051
@sbastrakov I didn't look at the memory usage on the system. I am afraid that in this case, the model was using all resources and the computation crashed when I wanted to do a plot in Jupyter Lab so adding a little bit of overhead. It is not clear if it will have crashed anyway because particles were still being produced through ionization and the size of the model keeps rising in my experience.

[2022-04-12 10:39] cbontoiu commented on #4051
On a fresh run, with a little lower number of cells that is 2.64e8 and PPC = 10, my memory usage looks like this around 7% of solution

![image](https://user-images.githubusercontent.com/7108691/162942307-f875b2ef-b989-466a-84ef-e38f5256a571.png)

and like this around 10% of the solution

![image](https://user-images.githubusercontent.com/7108691/162942422-f99e0352-a815-4be2-bde4-89342bfb41b4.png)

[2022-04-12 10:41] cbontoiu commented on #4051
In the first snapshot the ```mount.ntfs``` can be an issue with 44.7% of the CPU. Data is stored on an external disk. But also, why are there two instances of ```picongpu```?

[2022-04-12 11:03] sbastrakov commented on #4051
You are running 2 MPI processes on same node, both are picongpu. They run on separate GPUs so each will have 16 GB memory of a GPU, but share your host memory.

I am not sure why each process takes 40 GB of virtual memory if there is only 16 GB on a GPU, but maybe it's fine. After all, resident memory seems reasonable for both screenshots. The second screenshoot looks just healthy tbh, but please

[2022-04-12 12:05] psychocoderHPC commented on #4051
spaces around the assignment operator in bash are not allowed.

[code]
must be

[code]

few other variables are wrong too

[2022-04-12 13:13] cbontoiu commented on #4051
This simulation crashed later but the error message is different. I barely hit the PrintScreen on time to find about the processes running. It looked like this (CPU usage 100.3% !)

![image](https://user-images.githubusercontent.com/7108691/162970363-591e76be-071b-4adc-a8e8-9b9999bb7a29.png)

The crash happened without me doing other things on the computer. This is the previous snapshot

![2022-04

[2022-04-13 07:55] sbastrakov commented on #4052
Discussed offline with @psychocoderHPC . It indeed makes sense to control the positioning as offsets from domain boundaries, not from absorber. Also for avoiding cases of a user changing absorber thickness but not the gap - the offset will avoid those potential mishaps, and we check that the overall configuration is valid anyways.

[2022-04-13 08:30] steindev commented on #3985
@PrometheusPi I propose to close this issue, since our standard setup uses hipcc and clang-14 is now available on crusher.

[2022-04-13 10:37] #4051 closed, assigned to nobody

[2022-04-13 10:45] cbontoiu opened #4055 "particle openPMD output"
Hello,

I found a potential problem with the ```openPMD``` output. I have a model which runs smoothly and in general I can easily get particle data with ```yp, xp = ts.get_particle( ['y', 'x'], species='e_all', iteration=..., plot=False);```. From time to time I get the following error:

![image](https://user-images.githubusercontent.com/7108691/163162197-c8789198-05f6-4809-a492-2abf13eddfa8.png)

[2022-04-13 11:06] sbastrakov commented on #4055
Hello @cbontoiu , thanks for your report.

Could you clarify, what does "from time to time" mean? E.g. are some time-iterations working fine and others in the same file produce this, or even same time-iteration sometimes works and sometimes doesn't?

[2022-04-13 11:14] cbontoiu commented on #4055
Hi @sbastrakov

Yes, it happens like this:

- I keep on loading data, say every 5 seconds thinking that at some point the set would be complete;
- A cycle of 3 data sets is finished and I still cannot plot particle data (the openPMD exception);
- A new cycle is written and by some random chance I get the particle data;
- At later times this repeats.

It helps to add that when a simulation crashes

[2022-04-13 18:49] benjha commented on #3888
It works now.

[2022-04-13 18:49] #3888 closed

[2022-04-14 11:11] cbontoiu opened #4058 "Strange error"
Hello,

I have a rare error that happened for this model:

[graphene-graded-layers-2D.zip](https://github.com/ComputationalRadiationPhysics/picongpu/files/8488669/graphene-graded-layers-2D.zip)

[code]

Maybe you find something interesting.

[2022-04-15 01:33] kimjohn1 opened #4059 "Running on a PC with 2 GPUs"
I have PIConGPU installed and working well on a desktop PC, and have just installed a second GPU.  The added GPU is shown in `nvidia-smi` and `nvidia-settings` displays, but remains idle when a PIConGPU simulation is running.  Are there changes needed in the .profile or .cfg files that allow PIConGPU to engage more than 1 GPU when running on a PC?

My project includes eventually conducting perform

[2022-04-15 03:08] kimjohn1 opened #4060 "Warning generated in latest picongpu dev branch"
I downloaded the latest picongpu dev branch today and find that running the LaserWakefield example, the simulation runs to completion, but shows a warning as output starts to be generated:

`PIConGPU Verbose PHYSICS(1) | Warning: volume bounded by the Huygens surface is zero, no incident field will be generated`

I was previously using the picongpu dev branch downloaded on 3 April, which does not

[2022-04-15 12:30] cbontoiu opened #4061 "modular output"
Hello,

I tried to follow the modular approach when using the ```openPMD``` plugin, but the output data came in an unexpected form. Although I asked for fields, derived fields and particles, I can fetch only the particles. Please see then snapshots below.

![image](https://user-images.githubusercontent.com/7108691/163570433-b60d6d68-5f41-42bd-bd34-ec3706ce0139.png)

This is my ```fileOutput.param`

[2022-04-17 06:45] xiaowang119 opened #4062 "Is there any plan to implement a implicit PIC algorithm？"
Hi, I have always been troubled by the enormous computational complexity of explicit algorithms, which is determined by their stability. So, a implicit algorithm maybe helpful!

[2022-04-18 04:03] bussmann commented on #4062
Hi, PIConGPU's parallelization structure is very well suited for explicit algorithms. Yes, they are complicated and you have to control errors very well, but they are highly scalable. Implicit algorithms are not planned for now as their parallelization is much harder. However, it would be great to have them!

[2022-04-18 04:59] xiaowang119 commented on #4062
That's ok! Thank you for your nice work and patient reply.

[2022-04-18 04:59] #4062 closed, assigned to nobody

[2022-04-19 07:27] sbastrakov commented on #4059
Hello @kimjohn1 .

PIConGPU's parallelization approach is to run 1 MPI rank per GPU. So to use 2 GPUs you need to run 2 MPI processes, and similarly for any amount. When launching via `tbg`, it means setting one of `TBG_devices_x / y / z` variables to 2 (preferably split the direction that you have most grid cells along) - the total number of ranks is the product of those three variables. That sho

[2022-04-19 07:29] sbastrakov commented on #4060
Oh, thanks for reporting! We just added this check, but it shouldn't trigger in this case. So it must have been a mistake in when the check happens. In this simulation the Huygens surface has no effect anyways, but of course the warning is confusing for no reason. I will provide a fix shortly.

[2022-04-19 07:39] sbastrakov commented on #4058
Hello @cbontoiu , thanks for reporting. That indeed appears as something wrong on PIConGPU side. I will try to reproduce on your setup.

[2022-04-19 08:08] steindev commented on #4061
Hey @cbontoiu, I can't see anything obvious wrong at the moment. For further debugging, could you please perform the following instructions in your simulation run directory:
(1) run `./input/bin/picongpu --help` and post the output here.
(2) post the full command with which picongpu is executed. You can find this at the and of `tbg/submit.start`.

[2022-04-19 08:12] sbastrakov commented on #4061
@cbontoiu how do you load your data before calling `ts.slider()` ? Now you output to different openPMD files, as opposed to our default `simData` for everything. So perhaps the viewer doesn't "see" all the data and maybe e.g. different viewers should be loaded for different parts of your data

[2022-04-19 08:23] steindev commented on #4061
In case the comment of @sbastrakov does not solve the issue already, please also check your `./simOutput/openPMD` directory if the three files per time step exist as you expect.
If so, please perform `bpls -l <DataFileName>.bp` on each of the three for a specific time step (i.e. the zeroth) and post the output here, too.

Btw, `bpls` is part of the ADIOS2 library and located in `$ADIOS2_ROOT/bin`.

[2022-04-19 08:23] cbontoiu commented on #4061
For me this command does not work

![image](https://user-images.githubusercontent.com/7108691/163958396-e780bb71-34fd-481c-93b5-17ba84e9e568.png)

The commands that I use to compile and run from the terminal are:

[code]

[2022-04-19 08:25] sbastrakov commented on #4061
When trying to run help, you need an environment compatible with how you built PIConGPU. So e.g. same profile pre-loaded via `spack load picongpu` or other way you normally do it.

[2022-04-19 08:36] cbontoiu commented on #4061
As discussed previously

https://github.com/ComputationalRadiationPhysics/picongpu/issues/4051

I normally write all data in one folder called ```simData``` and the ```openPMD Viewer``` works both through the ```slider``` and through the API but writing data all bundled in a single ```openPMD``` plugin limits the resolution of my results due to memory limitations. So because I dump ```E```, ```B``

[2022-04-19 08:45] cbontoiu commented on #4061
![image](https://user-images.githubusercontent.com/7108691/163962887-1c1e4c3f-f05a-4178-b91b-c2d5f1fd3463.png)

[2022-04-19 12:29] steindev commented on #4061
@cbontoiu Your a missing the rest of your commands to setup the environment:
`spack load openpmd-api && export PIC_BACKEND="cuda:75" && export OMPI_MCA_io=^ompio`

But as you said there are files created and they have a reasonable size, running `./picongpu --help` is not necessary anymore.
(Please still try the `bpls` on the created files as described above.)
In the end, I guess you don't provide

[2022-04-19 13:23] sbastrakov opened #4065 "Put current time into constructor of incident field functors instead of operator()"
Originally I chose a [design](https://github.com/ComputationalRadiationPhysics/picongpu/blob/b0ef30eef155b4eaabaef40b834255fe2690e471/include/picongpu/fields/incidentField/Functors.hpp#L49-L59) of providing both coordinates and time to `operator()` of those functors. It was mostly done for aesthetic and symmetry reasoning. However, now after working on some of the profiles I better appreciate the

[2022-04-19 14:00] sbastrakov opened #4066 "Did we forget to backport changes to README after the last release?"
The author list looks fine in `master` (according to the time of 0.6.0 release), but in `dev` it appears to be older. So perhaps we made changes to the release branch and so `master` has the changes, but forgot to port it back to `dev`. If we indeed forget, can fix it now, no big deal - then should also double-check the rest.

cc @psychocoderHPC when you are back to the office.

[2022-04-19 14:16] sbastrakov commented on #4048
We discussed it offline with @psychocoderHPC . So basically there seems to be no easy fix to make it `constexpr`. I think that leaves us with one of three options:

- Keep as is
- Make another `constexpr` mirror as suggested above and use that where `constexpr` is required and optionally in other in-kernel places
- Follow one of previous two strategies and wait until we rework unit system / consta

[2022-04-19 14:26] sbastrakov commented on #4055
So the openPMD model is essentially that there are independent time iterations and each time iteration has certain data sets like E, B, charge density, etc. I think a lot of tools assume the same data sets are available on all time iterations. Then it could indeed happen that incomplete time iterations cannot be reliably processed.

Note that generally PIConGPU output is not synchronous to simulat

[2022-04-20 18:18] PrometheusPi commented on #2775
@psychocoderHPC will you implement such a `sed` code into `tbg` - otherwise we should perhaps close this issue?

[2022-04-20 18:30] sbastrakov commented on #2775
Oh I would +1 for implementing it or printing a warning, got hurt by it today

[2022-04-21 07:32] s9105947 opened #4070 "setting $PATH in profiles"
Dear Maintainers,

I stumbled over two things when setting the path in the profiles:

1. Additions to `$PATH` are appended, not prepended
  i.e. `export PATH=$PATH:STUFF` instead of `export PATH=STUFF:$PATH`.
  If there is a different version of PIConGPU already loaded (or a binary with the same name available) the **old** version will be executed (i.e. the just activated profile is not in effect)

[2022-04-21 07:38] sbastrakov commented on #4070
For no. 1 I am not sure why we do it like that, so that may be an oversight? cc @psychocoderHPC when you are back to the office

For no. 2 we need contents of `bin` in the main repo, e.g. `pic-create`, `pic-build`, `tbg` located there. They all are part of the [usual workflow](https://picongpu.readthedocs.io/en/latest/usage/basics.html#step-by-step) with PIConGPU. Edit: I do not think we need the

[2022-04-21 14:06] PrometheusPi commented on #3658
Thanks @sbastrakov for tagging.
The light scattered from the laser only scatters from particles in the laser field. These particles (in LWFA) do not reach energies much above the normalized laser field strength `a_0`:  `beta * gamma ~ a_0`. Thus if your energy (gamma) filter is set as `gamma >> a_0`, particles in the laser field are ignored. This is the common case for today's laser field strength

[2022-04-21 14:17] StevE-Ong commented on #3658
Thanks @PrometheusPi. I think this might explain that the coherent part (below \omega_coh) is the radiation from the electrons in the macroparticle?

[2022-04-21 14:23] PrometheusPi commented on #4041
Ping @psychocoderHPC

[2022-04-21 14:38] PrometheusPi commented on #3996
@Theodotus1243 exactly: you need some form of local particle and energy density. This can be done in various ways. Onle would be:
 - generate [charge density](https://github.com/ComputationalRadiationPhysics/picongpu/blob/b0ef30eef155b4eaabaef40b834255fe2690e471/share/picongpu/examples/FoilLCT/include/picongpu/param/fileOutput.param#L72-L74) and divide the field later one by the elementary charge

[2022-04-21 15:35] denisbertini commented on #4041
this issue is related to `llvm` and kinda tricky.
According to [rocm/aomp](https://github.com/ROCm-Developer-Tools/aomp):
[code]

[2022-04-22 05:06] vvsteg opened #4071 "Data output via MPI rank 0 ?"
Please let me know if it is possible to tune the output framework of PIConGPU in an old-fashioned way via a single master process (rank 0)?

The GPU-cluster that we use does not have a fast parallel FS, but we can deploy a very fast SSD on one node.

[2022-04-22 07:23] sbastrakov commented on #4071
Hello @vvsteg , thanks for your interest in PIConGPU.

PIConGPU does not have a centralized output system per se, but instead has [a variety of plugins](https://picongpu.readthedocs.io/en/latest/usage/plugins.html) doing different kinds of output. So the situation is different depending on particular plugin/type of output.

For "bulky" output of size comparable to simulation data size (say, all fi

[2022-04-22 08:53] s9105947 opened #4072 "duplicate attribute name"
Dear Maintainers,

during [the work on PICMI](https://github.com/s9105947/picongpu/tree/picmi-integration) the code generation was off and triggered a uncaught configuration error.

## Description
Define an particle species attribute **twice** (with the same name) for the same species:

[code]

Note that `momentum` is listed twice.

## Expected Behavior
compilation error "duplicate names are forbi

[2022-04-22 11:00] vvsteg commented on #4071
Hello @sbastrakov ! Thank you very much for clarifications!

We have tried to use collective buffering in MPI-IO (the so called `ROMIO hints`) in order to choose MPI-rank 0 as an aggregator and to pin this rank at the node with the fast SSD. However, as it turned out `MPI_File_open()` requires that the file system should be visible to all MPI ranks, not only for the aggregator rank.

It seems that

[2022-04-22 13:59] cbontoiu opened #4073 "charge from macroparticles"
Hello,

My simulation ends with an accelerated bunch whose dimensions and physical space can be estimated by using the macroparticles and I have 10 per cell. To estimate the charge of the bunch I need to integrate the derived field ```e_all_charge_density```, but is there a way to convert the density of macroparticles into charge? Suppose I have a macroparticle with a weight ```w```. What do I nee

[2022-04-22 14:05] #4061 closed, assigned to nobody

[2022-04-22 14:06] #4055 closed, assigned to nobody

[2022-04-22 14:16] sbastrakov commented on #4073
Hello @cbontoiu ,

Not sure if i fully understand the question, and I vaguely recall there was maybe some discussion about it, but then I lost the context of it.

If you already have the `e_all_charge_density` output and know the area of interest, you could just use those charge density values. They are for actual electrons' charge density. When we calculate it on PIConGPU side (e.g. for electrons

[2022-04-22 14:21] cbontoiu commented on #4073
Thanks @sbastrakov This is what I wanted to know. I will compare both methods and post the results here so we can have a consistency check.

[2022-04-22 14:29] sbastrakov commented on #4073
Okay, though i really think there should be no difference given same treatment is applied to form factors the same positions are used to evaluate the density. PIConGPU always uses same grid for charge density evaluation as for EM fields (of course with manual calculations you could choose any points). And we calculate that directly by going over all macroparticles and adding up their contributions

[2022-04-22 14:42] cbontoiu commented on #4073
I don't have any doubt that there might be something wrong with the code, for which I am grateful! But I know from experience that cross-checking helps me understand how PIConGPU works. For example, through these issues, I recently understood that for the last 2 years I had the wrong way to compute the weight.

[2022-04-23 10:36] #3996 closed, assigned to nobody

[2022-04-24 12:42] NeonBohdan opened #4074 "Unable to install picongpu@0.6.0"
When installing `picongpu@0.6.0` over spack the next error occurred
[code]

spack version v0.16.3

The same for gcc 7.5.0, 8.4.0, 9.4.0, 10.3.0
As I see it's related to
[code]
As for `picongpu@0.5.0`
[code]
But don't know how to fix it

[2022-04-24 12:44] Theodotus1243 opened #4075 "Unable to install picongpu@0.6.0"
When installing `picongpu@0.6.0` over spack the next error occurred
[code]

spack version v0.16.3(for 0.17.2 the same)

The same for gcc 7.5.0, 8.4.0, 9.4.0, 10.3.0
As I see it's related to
[code]
As for `picongpu@0.5.0`
[code]
___
[code]
___
But don't know how to fix it

[2022-04-24 12:46] #4074 closed, assigned to nobody

[2022-04-24 12:46] NeonBohdan commented on #4074
Dublicate of https://github.com/ComputationalRadiationPhysics/picongpu/issues/4075

[2022-04-24 14:14] Theodotus1243 commented on #4075
Also for my system previosly working picongpu@0.5.0 stops compiling LWFA
After reinstall `spack install picongpu@0.5.0`

Able to `pic-build`, but `tbg -s bash` run produses next error
[code]

Ubuntu 20.04, kernel 5.4.0-59-generic, nvidia-driver 495.29.05

[2022-04-24 15:03] Theodotus1243 commented on #4075
Looks the same as https://github.com/ComputationalRadiationPhysics/picongpu/issues/3969
The diff is only how spack -v 0.16.3 and -v 0.15.4 producess error

[2022-04-25 07:30] sbastrakov commented on #4075
Hello @Theodotus1243 , please make sure you are using fresh spack recepies from [this repo](https://github.com/ComputationalRadiationPhysics/spack-repo).

Your issue also appears similar to #3969 and related discussion in #3963. So perhaps somehow it ends up building with CUDA version not matching your driver. If this happens, it is quite straightforward to check, please see discussion in those is

[2022-04-25 08:09] Theodotus1243 commented on #4075
Thanks @sbastrakov
___
About `0.6.0`
Also tried to add `.spack/packages.yaml` with next config by analogue from https://github.com/ComputationalRadiationPhysics/picongpu/issues/3969#issue-1118471033
[code]
But nothing changed
___
Tried
`spack -v 0.17.1` as https://github.com/ComputationalRadiationPhysics/picongpu/issues/3969#issuecomment-1027288074
[code]
___

Every try done with
`rm -rf .spack` a

[2022-04-25 08:24] Theodotus1243 commented on #3969
@cbontoiu can You please describe what `picongpu@0.6.0` installation configuration You finished with
Because I have similar issue https://github.com/ComputationalRadiationPhysics/picongpu/issues/4075

[2022-04-25 08:34] cbontoiu commented on #3969
@Theodotus1243 Hi! Below is what I have now. It produces particle data correctly.

![image](https://user-images.githubusercontent.com/7108691/165051346-13c4f702-df30-49b5-8c62-0c1288ec7a39.png)

My advice is that once you get it all working, stop updating the linux headers and in general dont upgrade anything that changes the version of C++ compilers you have unless you can easily handle various v

[2022-04-25 08:52] sbastrakov commented on #4060
The issue is now solved, thanks again for reporting.

[2022-04-25 08:52] #4060 closed, assigned to sbastrakov

[2022-04-25 08:57] Theodotus1243 commented on #4075
@sbastrakov

About `picongpu@0.5.0` reduced driver to `r-450` no changes
Maybe I need to reinstall Ubuntu, I have something small somewhere broken

[2022-04-25 08:59] sbastrakov commented on #4075
@Theodotus1243 I think what you could try is to load the spack environment that you use for PIConGPU and try compiling and running a simple CUDA "hello world"-type app, and see if that works. Then we would know if it's the environment that's broken in general, or there is some issue on PIConGPU side.

[2022-04-25 09:01] sbastrakov commented on #4075
cc @psychocoderHPC perhaps you have a better idea

[2022-04-25 09:37] psychocoderHPC commented on #4075
The error https://github.com/ComputationalRadiationPhysics/picongpu/issues/4075#issuecomment-1107850434 looks like an system issue. CUDA memtest should not fail. @sbastrakov suggestion to test the driver installation with a CUDA hello world should show if the setup is correct.

I need to reproduce the initial error, I assume the rules in the picongpu recipe colliding and therefore allow the usage

[2022-04-25 09:42] psychocoderHPC commented on #4073
@cbontoiu Sry for highjacking this issue. Could you please be more precise about what you mean by `wrong way to compute the weight` Maybe we need to extend or fix the documentation so that other users do not misunderstand the same part wrong.

[2022-04-25 09:53] psychocoderHPC commented on #4072
Thanks for reporting. This is a very interesting bug.
We need to check https://github.com/ComputationalRadiationPhysics/picongpu/blob/beba68a3a2f9736ec487195e066a3ae598a4e50b/include/pmacc/particles/memory/buffers/ParticlesBuffer.hpp#L86-L90 that all attributes in the list are unique.

[2022-04-25 10:51] Theodotus1243 commented on #4075
@psychocoderHPC thanks

This change https://github.com/ComputationalRadiationPhysics/picongpu/issues/4075#issuecomment-1108329787 helped
`spack spec picongpu@0.6.0 %gcc@7.5.0` succesfully resolved, the same for installation

Hope this issue will help all other `PIConGPU` researchers with easy migration to `0.6.0`
They will need just `git pull` latest changes to their local copy of `picongpu recipe

[2022-04-25 11:57] Theodotus1243 commented on #4075
@sbastrakov

About `picongpu@0.5.0` I have done
[code]
Run succesfully
____
I have updated nvidia driver to `r-510` and `picongpu@0.5.0` `LWFA` run succesfully
Sometimes such things hapening. But the rule of thumb is that driver releases ended with 0 is most stable
___
@sbastrakov @psychocoderHPC thanks
Closing the issue

[2022-04-25 11:57] #4075 closed, assigned to nobody

[2022-04-25 11:58] Theodotus1243 commented on #4075
@sbastrakov

About `picongpu@0.5.0` I have done
[code]
Run succesfully
____
I have updated nvidia driver to `r-510` and `picongpu@0.5.0` `LWFA` run succesfully
Sometimes such things hapening. But the rule of thumb is that driver releases ended with 0 is most stable
___
@sbastrakov @psychocoderHPC thanks
Closing the issue

[2022-04-25 12:58] cbontoiu commented on #4073
@psychocoderHPC The confusion appeared in this issue

https://github.com/ComputationalRadiationPhysics/picongpu/issues/3990

while fixing a bug in ```openPMDViewer```. It was nothing wrong with the documentation but rather a misconception from my side. I thought that

[code]

when in fact it was

[code]

[2022-04-25 16:06] franzpoeschel commented on #4071
Hey,
one option could be to use ADIOS2 as IO backend and then to use the aggregation feature in the [BP4 engine](https://adios2.readthedocs.io/en/latest/engines/engines.html#bp4), activated e.g. by `--openPMD.json '{"adios2": {"engine": {"parameters": {"NumAggregators": 1}}}}'`.

Notes:

* I have never used aggregation across different compute nodes and don't know if it behaves well in that case
*

[2022-04-25 16:31] vvsteg commented on #4071
Thank you very much, @franzpoeschel ! With this I am closing this issue. Probably, other more specific questions will follow if we are able to activate the aggregation with ADIOS2.

[2022-04-25 16:31] #4071 closed, assigned to nobody

[2022-04-25 16:40] franzpoeschel commented on #4071
Hope it helps!
Additionally, if you use TBG (template batch generator), specifying a JSON config on the command line is tricky due to colliding string escape mechanisms. To avoid trouble, [here](https://picongpu.readthedocs.io/en/0.6.0/usage/plugins/openPMD.html#cfg-file) is an example how it can be done anyway.

[2022-04-25 17:49] Theodotus1243 commented on #3996
@PrometheusPi
As I generate [charge density](https://github.com/ComputationalRadiationPhysics/picongpu/blob/b0ef30eef155b4eaabaef40b834255fe2690e471/share/picongpu/examples/FoilLCT/include/picongpu/param/fileOutput.param#L72-L74) and [energy density](https://github.com/ComputationalRadiationPhysics/picongpu/blob/b0ef30eef155b4eaabaef40b834255fe2690e471/share/picongpu/examples/FoilLCT/include/picon

[2022-04-26 13:24] sbastrakov commented on #4065
Implemented by #4068.

[2022-04-26 13:24] #4065 closed, assigned to sbastrakov

[2022-04-28 07:05] sbastrakov commented on #4072
Solved with #4078.

[2022-04-28 07:05] #4072 closed, assigned to sbastrakov

[2022-04-28 17:58] cbontoiu opened #4084 "long ID number"
I have a model which contains ```1.675e7```, so ```16.75``` million macroparticles. From this I select ```161871``` macroparticles and I list their coordinates and ID's. I expected the ID to be counted from ```0``` to ```16 750 000``` so a ```long``` up to 8 digits but I get also values like ```9 223 372 036 881 183 029``` that is 19 digits.

As you can see in the images below, most of values are

[2022-04-29 07:06] #3985 closed, assigned to nobody

[2022-04-29 09:01] sbastrakov commented on #4084
That is interesting. I am not immediately sure if that is supposed to happen or not, will need to have a more detailed look. Generally,  IDs only have to be unique,  not required to be at any compact range. But such a difference also feels unexpected for me

[2022-04-29 09:34] cbontoiu commented on #4084
By being unique for the whole simulation, I assume that I can use the ID of a macroparticle to check its coordinates (```x```, ```ux```, ```y```, ```uy```) at earlier times. Is that true?

[2022-04-29 12:05] sbastrakov commented on #4084
Yes, IDs are mostly to track a macropatticle between time iterations, as there is no other way to "link" it - indices in output arrays are not stable between iterations.

[2022-04-29 13:57] sbastrakov commented on #4084
I've checked the code that sets initial particle ID to be used for each process. The process involves taking linearized process rank as a 64-bit number and bit-reverting it, so that's how we end up with gigantic numbers for IDs on some ranks. So vastly different numbers you see just mean the macroparticlesparticles were created by different ranks (so they originated in different areas of your doma

[2022-04-29 13:57] #4084 closed, assigned to nobody

[2022-04-29 15:08] cbontoiu commented on #4084
A related question: Is there a way to control the seed such that if I run two independent simulations on exactly the same model I end up with exactly the same distribution of macroparticles? I know that if ```PPC``` is large enough (I used 10) there won't be any sensible difference between the two simulations results (particles, fields and derived fields) but I am curious is this can be controlled

[2022-04-29 15:36] #4023 closed, assigned to psychocoderHPC

[2022-04-29 15:42] s9105947 opened #4088 "PICMI: schema check tries to resolve unfound $ref"
The schema checker (python `jsonschema`) resolves dependencies that are given via [schema `$ref`s](http://json-schema.org/understanding-json-schema/structuring.html#ref).

Under normal operation these references are loaded into the schema store by the renderer in `lib/python/picongpu/pypicongpu/rendering/renderer.py` and thus they are fetched from cache.

However, if the URI is **not** in the cach

[2022-04-29 15:42] s9105947 opened #4089 "PICMI: grid tests"
The PICMI translation to grid is not tested, i.e. `test/python/picongpu/quick/picmi/grid.py` is missing.
Please add, for coverage computation see PyPIConGPU doc (Misc section)

[2022-04-29 15:42] s9105947 opened #4090 "PICMI: CI integration"
PICMI tools are not integrated into the CI, but they should be

reports:

- [x] run quick tests `cd test/python/picongpu/; python -m quick`
- [ ] maybe: compute coverage, see PyPIConGPU Misc doc

both checks are fairly cheap, combined they take ~30s on my machine

[2022-04-29 15:42] s9105947 opened #4091 "PICMI: silence pyflakes"
pyflakes complains about `from xxx import *` in the tests, but the test cases must be in the top-level namespace (otherwise they are not executed)

I recommend silencing pyflakes for these specific files as it is already done for flake8 with `# flake8: noqa` at the top of each `__init__.py` file in the tests.

[2022-04-29 15:43] s9105947 opened #4092 "PICMI: missing profile features"
The experimental PICMI implementation is lacking density profiles (and their features):

- [ ] bounding box
- [ ] PICMI analytic distribution (note: translate python formula to C++ string with sympy, pass as string to JSON)
- [ ] PICMI gaussian bunch distribution

Note that some of the respective tets cases already exist, but are currently skipped: https://docs.python.org/3.8/library/unittest.html

[2022-04-29 15:43] s9105947 opened #4093 "PICMI: warn if not locally charge neutral"
When a PICMI setup initializes species with the same density profile & particle (in-cell) layout they should be charge neutral.

If not, a warning should be issued.

Note: must respect pre-ionization charge (PICMI: `charge_state`) -- as well as ratios

[2022-04-29 15:48] PrometheusPi commented on #4059
@kimjohn1 Did @sbastrakov answer solved your problem?

[2022-04-29 15:55] sbastrakov commented on #4084
I believe that reproducibility should be the default behavior, given you also run on same number of devices along all axes.

Do you observe otherwise?

[2022-04-29 15:56] BrianMarre opened #4094 "histogram output does not regard shape functions"
currently picongpu the histogram output plugin does not use macro particle shape functions according to offline statements by @psychocoderHPC

[2022-04-29 15:58] PrometheusPi commented on #4066
@sbastrakov I assume this issue can be closed with #4079, correct?

[2022-04-29 15:58] #4066 closed, assigned to nobody

[2022-04-29 16:01] sbastrakov commented on #4094
If you mean the positions particles plugin, that's true. Derived fields tho account for form factors. I think in principle one could express histogram-type  operations as derived field calculations

[2022-04-29 16:02] sbastrakov commented on #4066
Correct,  thanks for closing the issue, I forgot about it

[2022-04-29 16:11] cbontoiu commented on #4084
Not at all, and I am not able to see such differences because I run 6 times the same model to get: particles (1), fields (3), field densities (2). So the macroparticles will be available only in the first simulation but the next five simulations also rely on macroparticles, so today I was asked by a colleague if these simulations are absolutely the same in terms of macroparticle distributions. Thi

[2022-04-29 16:14] PrometheusPi commented on #3658
@StevE-Ong Most likely yes. You can access the shape function for the grid you used by comparing the coherent enhancement you see with the form-factors equation defined [here](https://github.com/ComputationalRadiationPhysics/picongpu/blob/59e9b53605f9a5c1bf271eeb055bc74370a99052/include/picongpu/plugins/radiation/radFormFactor.hpp).

[2022-04-29 16:47] sbastrakov commented on #4084
Okay, so the initial random generator state should be the same and initial sampling of macroparticles also the same (for the latter we do some extra measures to ensure it) as a collection, so overall same set of macroparticles, but may be different order of IDs. That's given your grid and distribution between devices is same.

However note that the repeated simulations would generally not be bitwi

[2022-04-29 19:43] kimjohn1 commented on #4059
@PrometheusPi

The single lab computer with multiple GPUs that I had available failed to run the LaserWakefield simulation with 2 GPUs.  I believe there is a hardware issue with that computer, so I am building another computer.  We can close this issue, and if I have trouble with the new computer I'll open a new issue.

Kim

[2022-04-29 21:45] PrometheusPi commented on #3996
@Theodotus1243 I am not aware that 2D slicing of fields is currently possible with our openPMD-api output, but @franzpoeschel probably knows better.

One more convenient way for you to only output data in a 2D slice is by adding [probe particles](https://picongpu.readthedocs.io/en/latest/usage/workflows/probeParticles.html) along the 2Dslice you want to output. That would output the grid via parti

[2022-04-30 06:32] sbastrakov commented on #3996
I believe as of now and all past "field" in terms of openPMD output means same size as your grid. So there is no direct way to make it smaller in terms of "array" size. (There are plans to directly support field slicing, and maybe it even comes soon, but right now we don't have it)

However, in terms of file size one can get it smaller given some  compression is used by output backend and e.g. you

[2022-05-02 07:10] psychocoderHPC commented on #4084
@cbontoiu Note: If you run two simulations and give particles an ID there is no guarantee that particle with ID X is in the next simulation doing exactly the same thing or that the ID is given to the same marco particle.
PIConGPU is not deterministic! The reason for this is that there are many places where we using `atomic` operations. Therefore there are always slidely differences in the precisio

[2022-05-02 07:26] sbastrakov commented on #4084
Ah yes, that is a good addition. From my earlier message macroparticles sampling is the same when we treat all macroparticles as an unordered collection (so like a _set_). It's not same in the ordered sense for reasons @psychocoderHPC wrote.

[2022-05-02 09:02] sbastrakov commented on #3996
Okay, so I made a small prototype to try my idea described above based on [our standard LWFA example](https://github.com/ComputationalRadiationPhysics/picongpu/tree/dev/share/picongpu/examples/LaserWakefield). It's a little hackish but seems to work, and so you could try adapting it for your setup.

The modied files are as follows, I've added comments to clarify (added `.txt` extension for github)

[2022-05-02 09:10] psychocoderHPC commented on #3996
Field slices are currently not supported :-( I have the necessary code for the feature already laying around and try to finish it this week.

[2022-05-02 14:39] BrianMarre commented on #1962
Short Question: can this issue be closed?

[2022-05-03 07:25] sbastrakov commented on #1962
We now use both in examples (conditionally, but so it still could get checked), one in Foil and another in LWFA. So i'll close it, good catch!

[2022-05-03 07:25] #1962 closed

[2022-05-05 14:42] PrometheusPi commented on #4059
Thanks for your reply @kimjohn1

[2022-05-05 14:42] #4059 closed, assigned to nobody

[2022-05-09 07:37] steindev commented on #3596
ThermalTest is gone #4100. But I should add automated analysis scripts to the new Thermal Benchmark #4099 in order to make it a real benchmark.

[2022-05-09 10:58] Theodotus1243 commented on #3381
Have the same problem after turning on collisions

picongpu@0.6.0 spack installation
ubunu 20.04, nvidia-driver r-510, GPU rtx-2080(non-cluster)

With variying input parameters crash heppens in different time, or not crashing
Input: [input.zip](https://github.com/ComputationalRadiationPhysics/picongpu/files/8651006/input.zip) (LWFA variation)
___
Can send extended log(please say how)
Or if some in

[2022-05-09 11:03] sbastrakov commented on #3381
Oh that is interesting, thanks for reporting @Theodotus1243 .

We (well, at least I) thought the issue is solved in 0.6.0, but apparently not. I am not sure if there were changes that could affect it since the 0.6.0 release, do you know @psychocoderHPC ?

A log - please do send it. If too large to be attached to a github issue, could you upload it to some open github repository or public fileshari

[2022-05-09 12:19] psychocoderHPC commented on #3381
@Theodotus1243 If you enable collision the memory footprint on GPU will increase compared to a simulation without collision.
The error in the initial post mostly points to out-of-memory on GPU during the runtime.
Mostly the only way to solve the issue is to reduce the simulation size by reducing the number of cells or the number of particles per cell.

[2022-05-10 15:10] Theodotus1243 commented on #3381
@psychocoderHPC @sbastrakov thanks, my bad

I have previosly set this
By reducing PPC twice or by increasing memory limit from 3GiB -> 350MiB the problem has been solved
[code]
___
But then two questions
1) `reservedGpuMemorySize` is hard limit or soft limit
2) Does collisions memory requirement insrease is dynamic, or somehow static(for me increase appears from 5GiB -> 7.5GiB)

[2022-05-11 06:27] psychocoderHPC commented on #3381
It is a hard limit, if you change `reservedGpuMemorySize` from 350MiB to 3GiB this means on a GPU with 16GiB main memory you will use with PIConGPU only 13GiB. CUDA requires during the runtime some additional memory on the GPU to store the context and some small additional data, therefore we keep by default 350MiB free, mean PICOnGPU is not allowed to touch this memory because it is reserved for t

[2022-05-16 06:43] psychocoderHPC commented on #3861
@steindev I found a bug again in alpaka which was already handled in 2019 but was not fixed fully.
https://github.com/alpaka-group/alpaka/pull/1725 is fixing the issue on summit.
@PrometheusPi The same issue should be visible on ZIH taurus-ml.

[2022-05-16 10:47] denisbertini opened #4109 "Problem to run TNSA simulation on multiple node"
Trying to run  TNSA simulation (param files attached) using `picongpu` on more than one node gives immediately
the following MPI related error:
[code]
Any idea what could trigger such type of error?

This error for example does not show up when running the LWFA simulation from the `picongpu` examples.

[tnsa.param.tar.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8699335/tnsa

[2022-05-16 11:07] sbastrakov commented on #4109
Hello @denisbertini ,

Normally, this error message means that the `-d` argument of PIConGPU does not match the number of MPI processes actually launched. That could happen if your `mpirun/mpiexec` call is somehow wrong, or your SLURM and MPI are not properly connected to one another (or it requires a certain workflow that isn't followed). Ultimately, the issue is almost always in a `.tpl` file us

[2022-05-16 11:17] denisbertini commented on #4109
Hi @sbastrakov
I attached the relevant files that i use for TNSA and LWFA ( working example)
[cfg.tar.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8699548/cfg.tar.gz)

[2022-05-16 11:26] sbastrakov commented on #4109
Thanks @denisbertini ,

Sorry, I forgot to ask initially. What is the number of devices you are (or want to) use in these cases?
From your `.tpl` file it appears to me that it is only for 1-process runs since you never launch with `mpiexec/mpirun`. Compare e.g. to [this line](https://github.com/ComputationalRadiationPhysics/picongpu/blob/d9ab3532a2b0d10e752b5b701ec14254f486d176/etc/picongpu/hemera

[2022-05-16 11:29] sbastrakov commented on #4109
I think a safest way to see what is actually getting launched, is to attach `tbg` subdirectory inside your output directory.

[2022-05-16 11:40] denisbertini commented on #4109
@sbastrakov  i am not usin `mpirun/mpiexec` but `srun` to launch the processes and for the `LWFA` simulation case it is working
as expected.
The TNSA  example i sent works for `n-devices<=8` ( one node has up to 8 GPU devices) but as soon i i want to run with lets say the double (`16.cfg`) than i have this error poping up and the processes terminate immediately

[2022-05-16 11:53] denisbertini commented on #4109
I attach now the `tbg` subdirectory from the output directories for both TNSA and LWFA
[tbg_lwfa.tar.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8699750/tbg_lwfa.tar.gz)
[tbg_tnsa.tar.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8699751/tbg_tnsa.tar.gz)

[2022-05-16 12:16] sbastrakov commented on #4109
Why is your `--cpus-per-task` different between the two attached runs - 6 for TNSA and 12 for LWFA (in `submit.start`)? That hints at different versions of `.tpl` file used, or maybe some other unaccounted differences between the runs. I suggest sticking to the LWFA version of `.tpl` for now since it seems to work.

Since you have LWFA running with 16 GPUs and `-d 2 4 2` let's start from there. Pl

[2022-05-16 12:19] psychocoderHPC commented on #4109
As @sbastrakov pointed out I also think that there is a mismatch between the number of tasks started by the batch syste mand what you use in `-d` could you change your tpl file and substitude

[code]

to

[code]

And post your result. The number of host names shown should be 32 in your example.

[2022-05-16 13:30] denisbertini commented on #4109
@psychocoderHPC
Made the change you suggested, on the TNSA config,  the output is
[code]

as expected 8 processes / node are initiated and 2 different nodes are selected.

[2022-05-16 13:36] denisbertini commented on #4109
i used the `16.cfg` to get this result

[2022-05-16 14:56] psychocoderHPC commented on #4109
But the file [tbg_tnsa.tar.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8699751/tbg_tnsa.tar.gz) is showing

[code]

`--ntasks` is set to 32, and not 16 and the picongpu command is configured to use 32 GPUs too

[code]

Your `cfg` file is showing 32 tasks too, but from the job name it point that it should be a 16 GPU run.

[code]

[2022-05-16 15:51] denisbertini commented on #4109
May be the files i sent are incorrect.
I just checked the `submit.start` file in the `tbg` directory output of the test program and it shows
[code]
which is then consistent with the previous output

[2022-05-16 16:03] denisbertini commented on #4109
i reproduce the problem with the same config. I attach the tar file corresponding to the failed TNSA run.
The config is `16.cfg` that is copied to `submit.cfg` in the output `tbg` directory.

[tbg_tnsa_16cfg.tar.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8701593/tbg_tnsa_16cfg.tar.gz)

[2022-05-17 11:50] denisbertini opened #4110 "Problem trying to run standard examples, hipErrorOutOfMemory"
I try to run the standard example from the `picongpu` code distribution but i have some difficulties to run some of them on multiple node configuration.
For example, i tried to run the example `WarmCopper`.
I can run it on one of our cluster machine using up to 4 GPUs, in order to use the full GPUs i have to lower the number of core per MPI rank to half ( 6 instead of maximum of 12 ) i order to av

[2022-05-17 12:12] psychocoderHPC commented on #4109
Here is a part of your `submit.start` file

[code]

I do not know why you have content after `EOF` and if this is executed, I assume not. But the reason why you see the error message is that `/lustre/rz/dbertini/gpu/data/lwfa_002/input/bin/picongpu  ...` is not starting with `srun`. Therefore you executed PIConGPU not in an MPI context. `-d 2 4 2` said to PICoNGPU that where will be 16 MPI process

[2022-05-17 12:24] psychocoderHPC commented on #4110
Could you please compile PIConGPU again with `pic-build -c "-DPIC_VERBOSE=127 -DPMACC_VERBOSE=127" and rerun it and send the full `stdout` and `stderr` file. This enable verbose output and would say whats going on in PIConGPU.

[2022-05-17 12:25] denisbertini commented on #4109
humm the `slurm` command are defined on the host and not inside the container,
`srun` is then used before the call to `singularity exec` which create a container context.
I used the same calls for `LWFA` and it works, it should also works for other example as well or i miss something here?

[2022-05-17 12:28] sbastrakov commented on #4109
@denisbertini it seems you have an errorneous "bare" call to PIConGPU before you call it with `srun`. And that first call is incorrect and produces the error you see as then PIConGPU gets an MPI communicator with a single process, but its command line parameters say 16 processes. I mean the call just after `export` part in what @psychocoderHPC wrote.

We are not sure why the first call happens, it

[2022-05-17 12:33] sbastrakov commented on #4109
I think to investigate and not get bothered with potential  `tbg` issues, perhaps it's easiser to move the wrapper script `pic_sub.sh` away as a standalone file, hardcoding stuff there when necessary.

[2022-05-17 12:42] denisbertini commented on #4109
I checked that i got a  proper MPI environment inside the container with a MPI program just dumpng the rank of MPI processes:
[code]

[2022-05-17 12:44] denisbertini commented on #4109
without calling `srun` from inside the generated script

[2022-05-17 13:11] denisbertini commented on #4109
I made the following tests which could may be help finding out what is going on.
I remove all `tbg` dependencies and try to run `picongpu` from an interactive session.
So i open a session with

[code]
on just one node.
Then i execute the singularity container  and within the container execute manually the `picongpu` executable with `mpirun` command .
- Using TNSA compiled `picongpu` i get immediat

[2022-05-17 13:12] denisbertini commented on #4110
OK will do !

[2022-05-17 13:15] sbastrakov commented on #4109
That's a great test!

I still do no understand why could it behave differently. To maybe look a bit more into that, could you make a new fresh setup + build of PIConGPU for these 2 examples from same environment. This is to exclude that your LWFA and TNSA builds were done with different MPI or something like that.

[2022-05-17 15:53] denisbertini commented on #4110
For now our cluster is really busy ... i am afraid we must wait for output

[2022-05-17 16:00] denisbertini commented on #4110
In attachment the debug output corresponding to  successful run using only
[pog_50228986.out.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8709809/pog_50228986.out.gz)
1 GPU

[2022-05-17 16:03] denisbertini commented on #4109
OK good point, i will recompile the whole example again.

[2022-05-18 07:43] denisbertini commented on #4110
In attachment the debug output corresponding to a failed WarmCopper run triggering out-of-memory error.
[pog_50346420.out.gz](https://github.com/ComputationalRadiationPhysics/picongpu/files/8714183/pog_50346420.out.gz)

[2022-05-18 08:35] denisbertini commented on #4110
I managed to solve the issue related to `hipErrorOutOfMemory` problem changing the number of `cores/MPI` and the maximum memory to device i.e
[code]
But now if i activate I/O (openPMD full dump)  i got a `system` out-of-memory triggered:
[code]
Removing the I/O with openPMD solved this memory issue.

Any idea why openPMD output trigger an out-of-memory ?

[2022-05-18 08:56] sbastrakov commented on #4110
Perhaps it's a similar issue to what you faced in #3958. Maybe the [suggestion there](https://github.com/ComputationalRadiationPhysics/picongpu/issues/3958#issuecomment-1017576283) would help now.

Generally, to be on a safe side with PIConGPU and openPMD output one should have `free host memory per GPU >= 2x simulation data size on GPU`. We always allocate whole GPU memory besides the reserved me

[2022-05-18 08:59] sbastrakov commented on #4110
Just to give an idea of what could be going wrong, see discussion in #4002 . However, I am not sure if it gives a good idea of how to debug it, hence pinged the expert.

[2022-05-18 08:59] denisbertini commented on #4110
Something strage is that the last verbose output is showing:
[code]
but no one file is actually being created and the program get stuck

[2022-05-18 09:01] sbastrakov commented on #4110
I am confused. Why do you have `hdf5` in json, but use ADIOS output to `.bp`?

[2022-05-18 09:02] franzpoeschel commented on #4110
This is a default that PIConGPU sets to workaround a bug, it is ignored if HDF5 is not chosen for writing

[2022-05-18 09:04] sbastrakov commented on #4110
Ah, thanks @franzpoeschel , I was not aware. Could you have a look and suggest how to investigate this issue?

[2022-05-18 09:05] franzpoeschel commented on #4110
With the ADIOS2 BP4 engine, data is staged in-memory and written upon closing the time step. This means that in that backend, you should actually have *at least* 2 times the device memory. I can have a more detailed look later.

[2022-05-18 09:08] denisbertini commented on #4110
@sbastrakov  it actually works, the problem was linked to the proper configuration of `ADIOS` backend !

[2022-05-18 09:11] denisbertini commented on #4110
I have this warning tough in the `.err` output, may be you know what this means?
[code]

[2022-05-18 09:14] sbastrakov commented on #4110
I believe it just means your json requests data compression via blosc, that is supported by ADIOS1 backend, but not ADIOS2. So you are currently running with ADIOS2 and no compression, but that is fine. In this case, you could remove the blosc configuration from json, but it also doesn't hurt now besides this warning printed.

[2022-05-18 09:20] franzpoeschel commented on #4110
More precisely, it is supported by ADIOS2, but only if ADIOS2 is compiled against blosc. If it's not, this warning will come up.

[2022-05-18 09:25] denisbertini commented on #4110
@sbastrakov it will be advantageous to use data compression in our case, we are using a `Lustre` filesystem. What does exaclty `blosc` ? can ADIOS2 use other kind of compression algorithm?

[2022-05-18 09:28] sbastrakov commented on #4110
Unfortunately, I do not have experience with that. I can only suggest looking at [openPMD API installation options](https://adios2.readthedocs.io/en/latest/setting_up/setting_up.html), as I see from there, a few compression engines are supported but most marked experimental. Perhaps you could ask at their github about current state and practical side of using those, or maybe there are already rela

[2022-05-18 09:34] sbastrakov commented on #4110
Oh but just to give a general idea. From your workflow of using PIConGPU and postprocessing the results compression should be completely transparent. So one works with those files same way with and without compression. It just requires that openPMD API on both sides is compiled with support for that compression. So i would describe it more as advanced feature to optimize one's work, not as a funct

[2022-05-18 11:32] sbastrakov commented on #3996
@Theodotus1243 FYI we now have support for slicing in our normal openPMD output, which is configured via command-line parameters. Please see #4096 for details.

[2022-05-18 18:26] franzpoeschel commented on #4110
With your current configuration, you are using the [BP4](https://adios2.readthedocs.io/en/latest/engines/engines.html#bp4) engine of ADIOS2. With this engine, you should specify the `InitialBufferSize` to at least the size of a single output step (per MPI process). See [here](https://openpmd-api.readthedocs.io/en/0.14.4/backends/adios2.html#memory-usage) for more detailed info of memory usage of B

[2022-05-18 18:39] franzpoeschel commented on #4110
We should add that stuff to our .cfg's.

Once BP5 stabilizes, we might want to go for BP5 as the default engine and use BP4 instead as a high-performance output engine only used if

1. The user knows what he's doing and knows how to configure BP4 to actually be performant
2. The user knows that the system has the memory that BP4 needs

[2022-05-19 12:32] denisbertini commented on #4109
OK you can close this issue, it was a trivial mistake from my part i.e mismatch in the `DIM` of the simulation.
After corrections ... all works fine !
Sorry for the noise !
And thanks for the constant great support !

[2022-05-19 12:37] sbastrakov commented on #4109
Glad it works now!

Do you mean that PIConGPU was built for a 2d case and then launched e.g. with 16 processes with `-d 2 4 2`, and that caused the issue? If so, we probably can add a check and so a more explicit error message for that case.

[2022-05-19 12:39] sbastrakov commented on #4109
I will have a look at how this is checked and try to add a more useful error reporting there.

[2022-05-19 13:52] sbastrakov commented on #3965
The plugin was removed, closing the issue.

[2022-05-19 13:52] #3965 closed, assigned to steindev

[2022-05-19 14:05] denisbertini commented on #4109
Yes that was the trivial problem !

[2022-05-20 07:06] denisbertini commented on #4110
Actually i requested it from the `json` definition:
[code]
I can just remove the line with `blosc` right?

[2022-05-20 07:08] sbastrakov commented on #4110
@denisbertini I think so. Just to reiterate, for your previous run it would just silence the warning. The compression was not used anyways there as openPMD + ADIOS2 build you used then didn't support it

[2022-05-20 07:30] denisbertini commented on #4110
OK so removing the `blosc` part create now other warnings
New configs:
[code]
Warnings:
[code]

``

[2022-05-20 07:33] sbastrakov commented on #4110
Oh, I guess one should remove the whole hierarchy if it becomes empty. So in your case also remove the line `\"dataset\": {                                    \`. Sorry, I'm not really experienced with that.

[2022-05-20 07:38] denisbertini commented on #4110
Right !, it works thanks !
No warnings anymore !

[2022-05-20 07:43] sbastrakov opened #4121 "Improve reporting of unmatching number of MPI ranks and devices requested"
Currently it throws an exception with a not very clear wording `wrong parameters or wrong mpirun-call!`. This led to confusion e.g. [here](https://github.com/ComputationalRadiationPhysics/picongpu/issues/4109#issuecomment-1131627992). What happened was, the simulation was 2d but > 1 processes in z was requested in a `.cfg` file and the overall number of ranks was calculated as for 3d. So PIConGPU

[2022-05-20 07:44] sbastrakov commented on #4109
We will improve clarity of error messages in such a case, I made a new issue for that. Closing this one. Feel free to reopen if further help is needed here, or make new github issues for other questions or problems

[2022-05-20 07:44] #4109 closed, assigned to sbastrakov

[2022-05-20 08:45] sbastrakov opened #4123 "Do we need own Bessel function implementation?"
We now have own implementation for real and complex numbers. With the complex implementation there are at least two technical issues:

- [the .tpp file is never included](https://github.com/ComputationalRadiationPhysics/picongpu/commit/80152dd47c6dcc4bee3f20b2aa8ab1807362630e#r73941544), so the PIConGPU build won't see it
- [this function](https://github.com/ComputationalRadiationPhysics/picongpu/

[2022-05-20 11:51] BeyondEspresso commented on #4123
We need to keep the implementation, because the boost-library does only work on host, but not on device. The complex-valued bessel-functions are highly interesting for various laser implementations, which are not in the main code just yet. These complex-valued bessel functions are an infrastructure ( #2161), which I originally tested by writing a short PMACC-unit test for it.

[2022-05-20 11:53] BeyondEspresso commented on #4123
The implementation is an external open source implementation (see code comments).

[2022-05-20 12:06] sbastrakov commented on #4123
Okay, I take it as we need to keep it and fix it. I will provide a fix, since I believe i've already figured out how to do it.

[2022-05-21 11:15] steindev commented on #3712
@sbastrakov I think we can close this issue. The functionality exist w´via incident field by now, right?

[2022-05-21 11:30] sbastrakov commented on #3712
Yes, now one can use a type list of (incident field) laser profiles on each side

[2022-05-21 11:31] #3712 closed

[2022-05-25 08:04] psychocoderHPC commented on #4121
fix by #4122

[2022-05-25 08:04] #4121 closed, assigned to sbastrakov

[2022-05-25 11:54] sbastrakov opened #4125 "Remove zlib dependency from docs"
We no longer actually depend on that for some time, so need to remove it from the docs. [Was just removed from spack](https://github.com/ComputationalRadiationPhysics/spack-repo/pull/19)

[2022-05-30 03:35] HaoPengYY opened #4131 "Detecting coherent radiation on the far-field plane?"
Dear Developers,
Hi. Thanks for your wonderful code. I like the classical radiation module, which allow me to calculate far-field radiation during complex PIC simulation of laser plasma interaction. I notice that we can dump the far-field radiation as E(omega), not |E(omega)|, which is to say we can get both the real part and imaginary part of radiation spectrum. So does that mean one can do inver

[2022-05-30 06:52] HaoPengYY commented on #4131
Actually, to calculate the temporal field of an incoherent radiation is not necessary meaningless. For example,  the Compton/Thomson scattering of a relativistic electron bunch with a laser with angular momentum(spin angular momentum/circular polarization, orbital angular momentum(OAM)/twisted Lagurre Gaussian) can generate high energy X/γ rays with OAM. For references, please see [Compton scatter

[2022-05-30 07:22] sbastrakov commented on #4131
Hello @HaoPengYY , thanks for your suggestion and the links. @PrometheusPi @finnolec could you comment on this?

[2022-05-31 12:45] sbastrakov commented on #4052
Implemented with #4056 and #4120.

[2022-05-31 12:45] #4052 closed, assigned to sbastrakov

[2022-05-31 13:30] sbastrakov commented on #3957
This was fixed with #4030.

[2022-05-31 13:30] #3957 closed, assigned to nobody

[2022-05-31 13:31] sbastrakov commented on #3954
Was fixed with https://github.com/ComputationalRadiationPhysics/picongpu/pull/3955.

[2022-05-31 13:31] #3954 closed, assigned to sbastrakov

[2022-05-31 13:49] sbastrakov commented on #3717
Implemented by #3720.

[2022-05-31 13:49] #3717 closed, assigned to nobody

[2022-05-31 13:50] sbastrakov commented on #3689
@PrometheusPi is this fixed?

[2022-05-31 21:38] PrometheusPi commented on #3914
The issue still exists after @s9105947 restructuring

[2022-06-01 13:00] sbastrakov commented on #4125
Solved with #4128

[2022-06-01 13:00] #4125 closed, assigned to nobody

[2022-06-01 15:52] sbastrakov opened #4137 "PIConGPU version output ignores HIP"
The version output (`-v`) does special checks for the CUDA case, but no mirroring checks for HIP.

Also, for the version output `mallocMC` is only included for CUDA, even though we use it for both CUDA and HIP. So this seems only a bug in version output, but not in computations.

[2022-06-02 13:33] sbastrakov opened #4138 "Switching to alpaka::Complex broke TWTS field background"
After switching to `alpaka::Complex<>` in  [#4114](https://github.com/ComputationalRadiationPhysics/picongpu/pull/4114) TWTS fast field background got runtime failures with ` 'cudaErrorLaunchFailure': 'unspecified launch failure'!`. From previous experience that normally means that somehow a host version of a host-device function gets called from the device side.

Probably TWTS has the same issue.

[2022-06-02 14:06] sbastrakov commented on #4138
So far it appears that the problem is with some but not all cupla-provided math functions of complex numbers. E.g. using `exp()` works fine, but once `sqrt()` is called for a complex number this error occurs. I guess somehow it does not find the correct implementation (not clear why) and so uses a generic alpaka one which in turn tries to fall back on `std::` and that fails on the device side.

[2022-06-03 07:29] sbastrakov commented on #4138
Discussed offline with @psychocoderHPC , it seems to be a bug in cupla. We think we found a fix, I will try implementing it.

[2022-06-03 13:42] sbastrakov commented on #4138
I made a fix in cupla https://github.com/alpaka-group/cupla/pull/235 and checked that it solves this issue. Will keep it open till we get the fixed cupla to `dev` (we planned to update it anyhow, just will need to add the fix first).

[2022-06-03 13:55] sbastrakov commented on #4138
Oh, there is also an unrelated issue in alpaka https://github.com/alpaka-group/alpaka/issues/1731 which also stops TWTS from running with `alpaka::Complex`. Fix is on its way.

[2022-06-03 14:32] sbastrakov commented on #4123
The existing implementation is fixed with #4135 and we intend to keep it (and hopefully use it so that it doesn't become desynched again), closing the issue.

[2022-06-03 14:32] #4123 closed, assigned to sbastrakov

[2022-06-08 04:10] baobaba13 opened #4140 "Problems encountered in running LWFA with OpenMP backend"
Hello, I recently ran LWFA with CPU on my laptop, but I ran bash tab -s bash -t etc/picongpu/bash/mpirun tpl -c etc/picongpu/1. After CFG $scratch/picruns/001, my PC reported the following error. I don't know what the situation is. I hope someone can help me

Running program...
Note: GPU memory test was skipped as no binary 'cuda_memtest' available. This does not affect PIConGPU, starting it now
u

[2022-06-08 07:10] sbastrakov commented on #4140
Hello @baobaba13 ,

There are two unrelated messages in this output. The first `Note: GPU memory test was skipped as no binary 'cuda_memtest' available. This does not affect PIConGPU, starting it now` is merely that we skip running utility to test your GPU (it's useful on big clusters) as you compiled to run on CPU, so this one you could just ignore.

However, the second one `unrecognised option '

[2022-06-08 08:21] baobaba13 commented on #4140
@sbastrakov First of all, thank you for your  reply. The second error you mentioned is that I didn't install the dependency openpmd API. I checked the two files you mentioned as follows. Because I just came into contact with Ubuntu and scientific computing, I hope to get your explicit help. Thank you very much

[code]

[2022-06-08 08:39] sbastrakov commented on #4140
Yes, so the first part of what you attached is your .cfg file used for your run. These are converted to command-line parameters of PIConGPU. And the second part shows the parameters available for your build of PIConGPU. (Please use github formatting with ` symbol to paste code/outputs for better readability, as i edited in your last message).

As discussed above, there is no `--e_phaseSpace` as yo

[2022-06-08 08:55] sbastrakov commented on #4137
Fixed with #4139.

[2022-06-08 08:55] #4137 closed, assigned to nobody

[2022-06-08 09:25] baobaba13 commented on #4140
@sbastrakov After deleting those two lines, the result is executed according to the original command, but it runs very slowly. Would you like to see if this is normal and correct?

![U $XZLFW96%6 ZH9FY)7CG6](https://user-images.githubusercontent.com/39699124/172581604-3bd15642-52c0-4d64-8125-029457055dae.png)

[2022-06-08 09:54] sbastrakov commented on #4140
The problem is quite large for a CPU, as our normal .cfg file settings are for GPUs. However I think it may be too slow indeed. Two things could have in principle gone wrong:

- Not all CPU cores are utilized, this could be caused e.g. by lack of settings of your OpenMP environment. As a simple check if this happens or not please see CPU utilization via your normal system utilities while PIConGPU

[2022-06-08 11:39] baobaba13 commented on #4140
@sbastrakov Hello, I have finished running LWFA. However, there is only one log file in my simoutput folder without other simulation results. Perhaps I should install the openpmd plug-in to output simulation results?

![图片](https://user-images.githubusercontent.com/39699124/172607284-4974807f-b5d7-469b-90f5-478ff00f6d59.png)

![图片](https://user-images.githubusercontent.com/39699124/172607326-72c92

[2022-06-08 11:43] sbastrakov commented on #4140
Yes, most PIConGPU output uses openPMD API. To install it, please follow [these instructions](https://picongpu.readthedocs.io/en/latest/install/dependencies.html#openpmd-api). In principle you could go either via spack or from source, both ways are described in that documentation page. I think it's probably better to try from source first in your case.

If you face issues with installing openPMD A

[2022-06-08 11:45] baobaba13 commented on #4140
OK, thank you very much for your answer. I will try it later and give feedback here

[2022-06-09 01:57] baobaba13 commented on #4140
@sbastrakov Hello, under your guidance, I have successfully installed openpmd, as shown in the following figure. However, after I used the
`pic configure -b" omp2b:native "$home/picinputs/mylwfa` and   `pic build -b" omp2b:native "`commands to build,the build  reached 95%， I encountered the following problems. Could you give me some suggestions.？Thank you.
![图片](https://user-images.githubuserconte

[2022-06-09 07:18] sbastrakov commented on #4140
It seems that your compiler crashed while building PIConGPU. Maybe the exact reason is given in the language of your locale between `fatal error: ` and `signal terminated`, but it anyways means something happened to your compiler. Note that it is definitely not related to the warning messages earlier in your output.

Generally, PIConGPU is known to require a lot of memory for compilation, perhaps

[2022-06-09 07:33] baobaba13 commented on #4140
@sbastrakov Hello, thank you for your reply. The Ubuntu system I am using is 4GB memory, and the version is 18.04. It was installed on the vmvaere workstation on my notebook. The compiler version I use is GCC 8.4.0. Please help me to see whether it is due to insufficient memory or poor compiler version. If I change the compiler, I will update the version or change the type. Thank you very much.

[2022-06-09 07:50] sbastrakov commented on #4140
I think 4 GB memory is generally not sufficient for compiling a complex PIConGPU simulation with openPMD API. While it may be that some setups or compiler work sometimes, i doubt it would make a reliable workflow. Without openPMD API there is much less to compile, but also you wouldn't have most of our output, so that is likely not sufficient for your physics use case. This compilation memory and

[2022-06-09 08:08] baobaba13 commented on #4140
@sbastrakov Hi sbastrakov，What you said is quite correct. I tried to adjust the memory to 10GB and successfully completed pic build When running the simulation later, the same error as last time is encountered, as shown below.
![图片](https://user-images.githubusercontent.com/39699124/172797404-48f2cf21-8025-496a-abe6-283ae65bf2f7.png)
![图片](https://user-images.githubusercontent.com/39699124/1727974

[2022-06-09 08:17] sbastrakov opened #4142 "What is the meaning of MomentumComponent derived attribute?"
This is a derived field available in the default `fileOutput.param`, so in a way it's available (but not enabled) by default. However, its meaning and intended use case feels not clear to me. There is [this description](https://github.com/ComputationalRadiationPhysics/picongpu/blob/74b6e552f7a436d517574b93c35c17830619994d/include/picongpu/particles/particleToGrid/derivedAttributes/MomentumComponen

[2022-06-09 08:29] sbastrakov opened #4143 "AverageAttribute assumes but does not check that the base attribute is weighted"
In [its definition](https://github.com/ComputationalRadiationPhysics/picongpu/blob/74b6e552f7a436d517574b93c35c17830619994d/include/picongpu/particles/particleToGrid/combinedAttributes/AverageAttribute.def#L66-L68) it seems to always divide by density, which is basically a normalized sum of weightings. So then a nominator is assumed to be also a sum of weighted contributions of macroparticles. And

[2022-06-09 08:40] sbastrakov commented on #4140
Oh, sorry. I misunderstood your earlier message as if you only had 4 GB of physical memory overall, not that you set it as limit and actually had more. So then my earlier comment about memory does not apply.

Yes, this looks like an issue with openPMD. I suspect it may be connected to you using the virtual machine, either due to file system, or due to how it interacts with MPI. To investigate it,

[2022-06-09 08:42] pordyna commented on #4142
Oh, this is weird. I would also expect  calculating the total momentum in 3D and the total momentum in a certain direction and then take the ratio. But this is actually sth. that can be done in a single attribute only with a combined attribute, which is a new feature.

[2022-06-09 08:47] sbastrakov commented on #4142
@pordyna do you mean to make a new "simple" attribute for a component of momentum that for each macroparticle will return `weight * px` and then use `AverageAttribute` of that to get average value of `px` as a field?

[2022-06-09 08:57] sbastrakov commented on #4143
Discussed offline with @pordyna . Perhaps it's easiest to only allow averagizing over the macroparticle-weighted attributes (which are most) rather then define what average means for other ones. For that we still need some extra informatino of which attributes are and are not weighted, so probably a new trait is needed. I can implement it, and this is not most urgent task.

[2022-06-09 09:28] baobaba13 commented on #4140
@sbastrakov  hi  sbastrakov,I tested the openpmd example without any problem, but when I installed openpmd, I only ran the following commands.
![图片](https://user-images.githubusercontent.com/39699124/172814558-f73aeb3c-74dd-4218-a552-fa2c93761887.png)

 I didn't understand this part, so I didn't operate it. I suspect there is a problem here. I want to hear your suggestions. If you think so, can yo

[2022-06-09 09:39] sbastrakov commented on #4140
Just to clarify, you did build and run examples included in openPMD API succussfully, e.g. [this one](https://github.com/openPMD/openPMD-api/blob/dev/examples/3_write_serial.cpp) that writes to a file?

If not, please do it first. If that runs fine, then please rebuild PIConGPU in debug mode using [this documentation](https://picongpu.readthedocs.io/en/latest/dev/debugging.html) with the example b

[2022-06-09 11:48] pordyna opened #4145 "Current dev won't compile with the Debug build type"
Compiling the `Empty` example on the current dev branch with `pic-build -f -c "-DCMAKE_BUILD_TYPE=Debug"` results in:

[code]

[2022-06-09 11:50] sbastrakov commented on #4145
Oh thanks for reporting. We always recommend against using debug build type, as everything takes forever (including compilation, even relatively to our usual times). But of course, it should still compile.

[2022-06-09 12:24] baobaba13 commented on #4140
@sbastrakov Hello, I found the file "3_write_serial.cpp" in the subfolder of openPMD, and tried to compile it with `g++-o 3_write_serial 3_ write_serial.cpp`. The following error was reported. It showed that the directory openPMD was not found, but the folder existed. Since I just started Ubuntu, maybe it's because my command is wrong, or I didn't put the `.cpp file` in the correct directory.
![图片

[2022-06-09 13:16] sbastrakov commented on #4140
Okay, let us figure these issues one by one.

First, you need to make sure openPMD API works on your system. As i understand, you already installed it from source using our instructions. Then the examples were also already built in the same build directory. If you didn't change it, that would be ` ~/src/openPMD-api/build` (or if you changed the path from our documentation, adjust acccoringly). The

[2022-06-09 13:49] baobaba13 commented on #4140
@sbastrakov Hi sbastrakov：
According to your instructions, I ran `./bin/3_write_serial` and the results are as follows. I wonder if this can explain that my openpmd can be used.
![图片](https://user-images.githubusercontent.com/39699124/172863031-8e5a1f81-dc7a-4c0a-94be-ec0306af691b.png)

[2022-06-09 13:55] sbastrakov commented on #4140
Okay, so that seems to work. To reproduce what we use in PIConGPU, could you also try running example `5_write_parallel`?

[2022-06-09 13:59] baobaba13 commented on #4140
@sbastrakov Like this
![图片](https://user-images.githubusercontent.com/39699124/172865323-248b13a5-ded0-4431-b16c-1fc0a6c3e7b9.png)

[2022-06-09 14:04] sbastrakov commented on #4140
Great, so writing appears to work as a standalone example, now we should investigate what exactly goes wrong with PIConGPU.

Please first make sure you have enough disk space allocated for output, maybe your virtual machine has a limit. It it does not help, then try building PIConGPU in debug mode as we discussed above. I now realized, that since you are building for OpenMP, the build command for

[2022-06-09 15:43] baobaba13 commented on #4140
@sbastrakov Hi sbastrakov, under your guidance, I successfully built picongpu, but the simulation seems to be unsuccessful. The following is the output file of the simulation. Is this what you mentioned earlier？
GitHub doesn't seem to be able to upload folders, or can I send it directly to your email address

[2022-06-09 20:51] sbastrakov commented on #4140
Please upload file `output`. Alternatively, one could zip the directory and upload the archive.

[2022-06-10 01:33] baobaba13 commented on #4140
@sbastrakov Sorry, GitHub can only upload zip packages, which wastes time. This is my entire simoutput folder. Please help me to see what the problem is.Thank you very much!
[simOutput.zip](https://github.com/ComputationalRadiationPhysics/picongpu/files/8875071/simOutput.zip)

[2022-06-10 11:16] sbastrakov opened #4148 "Different default file extensions in plugins"
E.g. the [openPMD plugin](https://github.com/ComputationalRadiationPhysics/picongpu/blob/f2ebdc20e51d93f2d75ad96c52304ff660f41112/include/picongpu/plugins/openPMD/openPMDWriter.hpp#L217-L224) uses ADIOS2 if it's available, and otherwise HDF5. While the [PhaseSpace plugin](https://github.com/ComputationalRadiationPhysics/picongpu/blob/f2ebdc20e51d93f2d75ad96c52304ff660f41112/include/picongpu/plugin

[2022-06-10 11:19] sbastrakov commented on #4140
Thank you for attaching the file. It is unfortunately not clear what exactly goes wrong even now. However, it seems like the phase space output wrote something, and then the crash happened for openPMD output or checkpointing. I noticed that there are different file extensions used for the two plugins.

So I think it makes sense to try asking openPMD to also output in hdf5. For that, please change

[2022-06-10 13:50] baobaba13 commented on #4140
@sbastrakov Hi，sbastrakov:
According to your suggestion,I have changed `--openPMD.ext bp`  to `--openPMD.ext h5`  in my .cfg file and re-run. But the simulation still doesn't seem to run successfully.Here are my modified results and output results.I noticed that there seemed to be two more in the openPMD folder H5 format file.However, these two files are too large. Even after compression, they sti

[2022-06-10 14:27] sbastrakov commented on #4140
Interesting. So perhaps there is indeed some issue with ADIOS2 output, but not with HDF5. To check it for sure, could you try removing 3 lines with checkpoint options? Taking care of end-of-lines, so that your `TBG_openPMD` is

[code]

If that still crashes, let us next try a smaller simulation volume as it is hard to tell how much memory does your simulation consume together with output. For that

[2022-06-10 17:12] baobaba13 commented on #4140
@sbastrakov Hi sbastrakov ，seems that I have got the simulation results of LWFA. I don't know whether this means that I have run successfully. Maybe I need to do some other work.Other files were not uploaded here because they were too large.
![图片](https://user-images.githubusercontent.com/39699124/173116089-8e604833-a4ae-4ffe-9fb0-a7d90b5cc0e1.png)
[simOutput.zip](https://github.com/ComputationalR

[2022-06-10 17:40] sbastrakov commented on #4145
Solved by #4147

[2022-06-10 17:40] #4145 closed, assigned to sbastrakov

[2022-06-10 20:47] Theodotus1243 opened #4149 "Run simulation on second GPU"
The thing is that more performant GPU inserted as a second and I don't realy want to care about unequal simulation split over GPU-s
I cant realy deal fow to modify `mpiexec.tpl` or how to pass "CUDA_VISIBLE_DEVICES"

[2022-06-12 08:24] sbastrakov commented on #4149
Hello @Theodotus1243 ,

So if I understand correctly you would like to run on one of your 2 GPUs, and by default it uses the wrong one. This can be changed with setting `CUDA_VISIBLE_DEVICES` to `1`. Then only your second GPU will be visible *for the current environment*.

Putting `export CUDA_VISIBLE_DEVICES=1` in your .tpl file used should accomplish it. If you are running locally (I mean direct

[2022-06-12 11:53] Theodotus1243 commented on #4149
@sbastrakov thanks
Put it in tpl file, I see

[2022-06-12 11:53] #4149 closed, assigned to nobody

[2022-06-13 08:49] sbastrakov commented on #4140
Hello @baobaba13 .

Yes, so now it seems to have run. So for your current setup `.h5` format seems to work, but not `.bp`. PIConGPU supports outputting in both, and a user selects by providing `--openPMD.ext h5` and similar `.ext` in a few other places. In principle a user could work with both depending on personal preference and workflows used. Especially for smaller scale simulations, there is n

[2022-06-13 10:16] baobaba13 commented on #4140
@sbastrakov Hi sbastrakov I think. If `.h5` can be used, I don't need to explore it What's wrong with BP.Maybe it would be wise to wait until I really have to use `.bp` .Thank you for your guidance.

[2022-06-13 10:50] sbastrakov commented on #4140
Yes, I think this is a reasonable approach. Since the original problem seems to have been resolved, I am closing this issue. In case you have further questions or problems, feel free to create new github issues for that.

[2022-06-13 10:50] #4140 closed, assigned to nobody

[2022-06-13 10:52] baobaba13 commented on #4140
Ok,thanks

------------------ Original ------------------
From: Sergei Bastrakov ***@***.***&gt;
Date: Mon,Jun 13,2022 6:50 PM
To: ComputationalRadiationPhysics/picongpu ***@***.***&gt;
Cc: baobaba13 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [ComputationalRadiationPhysics/picongpu] Problems encountered inrunning LWFA with OpenMP backend (Issue #4140)

Yes, I think this is a reasonable

[2022-06-13 11:06] sbastrakov commented on #4142
So upon looking at the PR that added (the predecessor of) this output https://github.com/ComputationalRadiationPhysics/picongpu/pull/1481 I am still confused about the current implementation. My earlier example with different weights could be even further simplified to this: weights are same, macroparticle momentums are `p1 = (3, 0, 4)`, `p2 = (-1, 0, 0)`. Then with the current algorithm for `Mome

[2022-06-13 18:31] bcornille opened #4152 "HIP missing mallocMC version"
In commit 94e8833 with pull request #4139 the mallocMC version was made to be output when using HIP. However mallocMC.hpp is only included with CUDA. This causes HIP builds to fail.

[2022-06-14 07:11] sbastrakov commented on #4152
Oh thanks for reporting. This is a bug - in all but that version print part we include and use mallocMC for both CUDA and HIP. This was indeed missed in that PR, we will fix shortly.

[2022-06-14 07:14] sbastrakov commented on #4152
Perhaps this also points to our faulty check in principle: we should have `MALLOCMC_ENABLE` or a similar define and use it everywhere to decouple it from straight check for CUDA or HIP and related issues like this one.

It also points out our CI didn't check for this case.

[2022-06-14 10:50] psychocoderHPC commented on #4152
@bcornille Thanks for reporting, the issue should be fixed with #4153

[2022-06-16 08:15] pordyna opened #4158 "png plugin laser scaling doesn't work with the incident field laser"
This is a minor issue, but can be somehow confusing. The option to normalize the png output based on the laser intensity set via `#define EM_FIELD_SCALE_CHANNEL1 1`   in `png.param` is based on the old laser implemementation. When someone uses the new incident field, has disabled the old laser, and combines it with this png setting, the compilation will fail with:

[code]

Since now, we can have m

[2022-06-16 08:45] sbastrakov commented on #4158
True, there `laser` only means what is in `laser.param`. This should at least be documented more clearly.

It is in principle possible to add a new value for `EM_FIELD_SCALE_CHANNEL` defines to normalize to incident field. As you pointed out it's not clear what to use for multiple lasers enabled. But maybe we could just throw an error in case this setting is used and multiple lasers are enabled.

[2022-06-16 09:32] HighIander opened #4159 "Put user-specific parts from profile into a separate file"
Hi,
would it be possible to extract those things in the profile that are user specific and shall remain constant between version changes (e.g. mail address, editor (maybe src directory) ) into e separate file, so that one can easily switch between different picongpu versions/profiles?

[2022-06-16 09:42] sbastrakov commented on #4159
I think i understand the radionale. E.g. a user already made a copy of the profile to their home directory and set source path, mail notifications and such. And then when a profile gets updated in the main repository, one needs to apply same changes again or somehow manually merge with old profile to keep the established workflow.

I am not sure what would be a good solution. Splitting profile is

[2022-06-16 09:50] sbastrakov commented on #4159
Maybe a solution could be to have a hook in all profiles that load user-provided stuff inside? So that a user could define a path to their profile that we will always load as part of our profile. E.g. do it between [these two lines](https://github.com/ComputationalRadiationPhysics/picongpu/blob/448c69b62ac4515386b66bd342c7cefa64b3087a/etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example#L43

[2022-06-16 11:14] sbastrakov commented on #4152
The fix was just merged to `dev`. Thanks for reporting @bcornille !

[2022-06-16 11:14] #4152 closed, assigned to nobody

[2022-06-16 11:28] BrianMarre commented on #3464
Please note, the exact formatting rules of clang-format are dependent on the version of clang-format.
Therefore check your clang-format version using 'clang-format --version' before formatting the code.

Current used version is clang-format-12 from llvm 12.0.1, the bug fix version does actually make a difference as I found out recently.

@psychocoderHPC could you update your example to the current

[2022-06-16 12:09] sbastrakov commented on #3464
@BrianMarre thanks, I edited the first message to reflect the current state, also made a fix in the docs.

[2022-06-16 14:11] psychocoderHPC opened #4162 "How can I dump only each 10th particle with openPMD"
We got a user question via mail about how it would be possible to dump each 10th particle of a species to reduce the number of particles in the output, e.g. for visualization.

CC-ing: @franzpoeschel, @sbastrakov

[2022-06-16 14:12] psychocoderHPC commented on #4162
Note that the shown approach is only selecting each 10th particle. You can not use the subset of the particles e.g. for building a density plot because the weighting of the selected particles is not changed to reflect the total density of all particles in the simulation. (If needed, that can also be accomplished - just the code below does not do it)

The example diff is manipulating the laser wake

[2022-06-16 14:12] #4162 closed, assigned to nobody

[2022-06-16 14:21] franzpoeschel commented on #4162
Thanks for this!

[2022-06-16 14:27] psychocoderHPC commented on #4162
Here are some useful links to our documentation which includes the copy past snipped I used for this example:

How to write a filter by using a free function: https://picongpu.readthedocs.io/en/0.6.0/usage/param/particles/init.html#id1
How to use a free function with a random number generator to manipulate particle attributes: https://picongpu.readthedocs.io/en/0.6.0/usage/param/particles/init.htm

[2022-06-16 14:33] pordyna opened #4163 "Workflow and tools for switching picongpu versions"
Our documentation doesn't describe a workflow on  how to switch to a new commit (version) and reuse a simulation setup created with a different version.
There are several things that can go wrong in such a process, e.g., a user should know that they are supossed to remove the `.build` directory before recompiling. They also need to update files that are copied to the example directory (when using

[2022-06-16 15:23] psychocoderHPC commented on #4159
User variables can already be changed without changing the profiles if you add those to a separate bash file you source.
This would be a "workaround", not sure if moving these variables to a separate file will simplify the process but we should brainstorm about possible simplifications.

https://github.com/ComputationalRadiationPhysics/picongpu/blob/34349b56a5b14b96ca7d256bca369dbb8a662550/etc/pic

[2022-06-17 07:12] sbastrakov commented on #4159
@psychocoderHPC this is true, but e.g. it is not possible to set a custom `PICSRC` this way, as the profile already uses its own `PICSRC` to set `PATH` and `PIC_EXAMPLES`. And the worst part is that a user may not realize it and still set their `PICSRC` afterwards via `export` which would result in an inconsistent configuration.

[2022-06-17 12:28] sbastrakov commented on #4148
Solved with #4155.

[2022-06-17 12:28] #4148 closed, assigned to sbastrakov

[2022-06-17 12:28] sbastrakov commented on #3907
Solved with #4155.

[2022-06-17 12:28] #3907 closed

[2022-06-20 09:04] sbastrakov commented on #4143
Fixed with #4154.

[2022-06-20 09:04] #4143 closed, assigned to sbastrakov

[2022-06-20 09:04] sbastrakov commented on #4138
Fixed with #4166 (and fixes to alpaka and cupla that it brings to PIConGPU)

[2022-06-20 09:04] #4138 closed, assigned to sbastrakov

[2022-06-22 07:55] sbastrakov commented on #4142
cc @ax3l if you have time for it

[2022-06-22 08:37] sbastrakov commented on #4158
Implemented with #4172.

[2022-06-22 08:37] #4158 closed, assigned to sbastrakov

[2022-06-22 13:33] PrometheusPi commented on #4131
Dear @HaoPengYY ,
please excuse the long silence. You are totally right. In principle you can reconstruct your source distribution if you have your complex radiation. Thus with the complex radiation data in our openPMD based radiation output this is possible. (There might be some numerical noise effects since you are summing billions of particles and thus will have some rounding errors.)

Yes, inc

[2022-06-23 01:01] baobaba13 opened #4178 "What can picongpu do?"
Hi，I would like to ask, can picongpu simulate the electromagnetic pulse radiation generated by laser irradiating solid targets? That is, the laser irradiates the solid target to produce hot electrons, some of which with high energy pass through the potential barrier and become runaway electrons. The runaway electrons move in the simulated cavity to excite electromagnetic radiation pulses.

[2022-06-23 07:12] sbastrakov commented on #4178
Hello @baobaba13 , thanks for your question.

@PrometheusPi do you have an opinion on that?

[2022-06-23 09:00] sbastrakov opened #4179 "Treating currents created by particles in PML"
Currently we do not have a good knowledge or experience of how to do it properly, and there are sometimes numerical artifacts arising, which are probably caused by it. On today's seminar @ax3l shared a recent paper on that matter https://arxiv.org/abs/2201.09084 which we should look into.

Edit: since recently they uploaded v2 on arxiv.

[2022-06-23 10:58] cbontoiu commented on #4073
Hello again on this issue.
I can estimate the total charge by integrating the charge density `e_all_chargeDensity` across the volume like this using the grid mesh sizes
`totCharge = uXspace * uYspace * uZspace * rectangle_Charge.sum(); NoE = -totCharge/e`
`totCharge = uXspace * uYspace * uZspace * np.array(ellipse_Charge).sum(); NoE = -totCharge/e`
`totCharge = uXspace * uYspace * uZspace * np.arr

[2022-06-23 11:08] cbontoiu commented on #4073
To rule out problems related to the weight or snapshot synchronization here is what I get from the particles, where, with _data_ in this format
`0.y[m] 1.uy[me*c] 2.w 3.ID` and E0 = 0.511 MeV
 the momentum `py` in [MeV/c] was found from data[1]*E0/data[2];
![image](https://user-images.githubusercontent.com/7108691/175284828-f4f49d5d-cefa-4b97-a235-15b645ac021d.png)

[2022-06-23 11:16] cbontoiu commented on #4073
dividing by the `BASE_DENSITY` = 1.14e+29 [1/m^3] at t = 0

 `totCharge += data[2][i] * e / (CELL_VOLUME * BASE_DENSITY);`

gives me 2.87 fC, which is closer, but larger by a factor of 2.68 to what I expect. I think there is something missing here. ```PPC = 10``` but I don't know if that number should be taken into account.

[2022-06-23 12:00] sbastrakov commented on #4073
Hello @cbontoiu ,

If I understand correctly your first message from today, `totCharge` is an integral of the PIConGPU-output charge density over your area of interest (rectangle, ellipse, etc.). So it is a total charge in the area. So if you want to calculate the same quantity from the macroparticles directly, that should be the sum of macroparticle charges over all macroparticles in your area (o

[2022-06-23 12:09] cbontoiu commented on #4073
@sbastrakov Perfect!

This is another snapshot more away from the target so less contaminated by background particles and the results agree reasonably!

![image](https://user-images.githubusercontent.com/7108691/175295078-e12309b5-3cc6-4dfb-b294-aac3c27c10c9.png)

![image](https://user-images.githubusercontent.com/7108691/175295219-399bca19-461a-4a51-a59b-1d273420873f.png)

Thank you so much! I wi

[2022-06-23 12:17] #4073 closed, assigned to nobody

[2022-06-23 13:08] sbastrakov opened #4180 "2d incident field profiles incorrectly calculate transversal part"
This is a bug introduced when reworking the profiles in #4105 . It was not present in axis-aligned incident field profiles before that.

The bug boils down to incorrectly handling 2d/3d positions when doing transversal profile calculations. The current implementation always drops the third component, which is not generally correct. As at the point we are already in the internal coordinate system,

[2022-06-24 07:12] psychocoderHPC commented on #4180
closed with https://github.com/ComputationalRadiationPhysics/picongpu/pull/4181

[2022-06-24 07:12] #4180 closed, assigned to sbastrakov

[2022-06-24 08:48] wmles commented on #4163
This would be a really useful tool if it works! In my experience, it's always easier to start with a working example in the new version and edit this to incorporate the old changes.
But I fear it's far from trivial to write such a tool, it would have to track the changes in the signatures of the .param files. This is possible to do once between major versions but would require a lot of work/discip

[2022-06-24 08:54] wmles opened #4182 "chunk error upon restarting from opmd/adios2"
when restarting from checkpoint on juwels [i.e. I edited the `submit.start` by hand and increased steps and appended `--checkpoint.restart`, so definitely the same executable] I get the following stderr (consistently, in several simulations):

[code]

As Rene noticed, the chunk index is very large, it's something like FFFFFFFF9812A800 which looks suspiciously like a small negative number (?).
As F

[2022-06-24 09:00] sbastrakov commented on #4163
Oh i think the idea for the tool was not to automatically account for changes in `.param` files with PIConGPU version, that would be on a user anyways. But at least to keep the rest intact, so that e.g. after the update `tbg -t etc/picongpu/hemera-hzdr/fwkt_v100.tpl ...` would use the updated `.tpl` file version and not potentially old one in user's input directory.

[2022-06-24 09:01] PrometheusPi commented on #4178
Hi @baobaba13,
while I do not quite understand the details of your proposed setup, I would say that in general simulating the radiation from a laser irradiated foil is possible. We simulated for examples high harmonic generation (HHG)  via the relativistically oscillating mirror (ROM) effect from laser irradiated foils in the target normal sheath acceleration (TNSA) configuration.
As long as the r

[2022-06-24 09:15] sbastrakov commented on #4182
~~Just to make sure, this happens with a relatively fresh PIConGPU `dev` version? E.g. we had a fix https://github.com/ComputationalRadiationPhysics/picongpu/pull/4037 several month ago that may have caused a similar behavior~~

Edit: that linked PR fixed a bug that was happening with moving window enabled, which is not the case here. So the reason must be something else.

[2022-06-25 02:07] baobaba13 commented on #4178
@PrometheusPi Hi  PrometheusPi，First of all, thank you for your reply. The problem I described is: numerical simulation of electromagnetic pulse in the target chamber of nanosecond laser inertial confinement device. The laser target interaction process will produce a large amount of electromagnetic Pulse (EMP), which has the characteristics of short time, large amplitude change and high intensity

[2022-06-29 13:25] StevE-Ong opened #4189 "Introduce dust into the target"
Hi,

I wish to introduce dust particles into the target. The position of the dust is random. How could I do it using freeformular? Thanks.

[code]

[2022-06-29 14:14] sbastrakov commented on #4189
Hello @StevE-Ong ,

I am not sure I understand your use case. From the code sample you provided, it seems you would just like to sample the `center` variable somehow according to the use case. If we imagine it is done, then performing `CreateDensity<Dust, ...>` would call your `DustFunctor` independently for each PIConGPU cell. Each call will have its own `center` sampled and so you would have no

[2022-06-29 14:19] StevE-Ong commented on #4189
Hi, @sbastrakov

I was trying to do something like this. I assume the dust has a circle shape and distribute in the simulation region randomly.

![Figure 56](https://user-images.githubusercontent.com/52823653/176459259-de11989f-371a-4076-921b-fd5364f0aab8.png)

[2022-06-29 14:23] sbastrakov commented on #4189
Okay, and how many circles do you have by order of magnitude?

[2022-06-29 14:30] StevE-Ong commented on #4189
The number of circle can be set arbitrary. Imagine a gas jet or solid target dope with impurities (i.e. 1e13 particles/cm**3). In principle I can do it by using FromOpenPMD, where the profile is created elsewhere. That is sufficient for solid target. I am not sure for gas jet where the moving window will be used.

[2022-06-29 14:57] sbastrakov commented on #4189
So loading density values from a file is always possible. For that a user is not limited to initialization start pipeline, it can be done for a selected time step(s) as part of iteration start pipeline. Practically that may be a good solution.

If you want to use an own density functor in spirit of the code sample posted, I think there is no way around somehow pre-generating and storing center pos

[2022-06-30 08:44] baobaba13 opened #4190 "Some problems about parameter setting"
Hi dear friends
Use the OMP backend to simulate whether there is parallel computing. If it can, how to set parallelism? I haven't found a way to set it. In addition, in order to better understand the example "bremsstrahlung: emission of bremsstrahlung from laser foot interaction", I read the paper "Entwicklung und Ü berpr ü Fung eines photonmodels f ü r die abstractlung durch hochenergetische elek

[2022-06-30 09:00] sbastrakov commented on #4190
Hello @baobaba13 ,

Regarding OpenMP, please follow [this documentation page](https://picongpu.readthedocs.io/en/latest/install/profile.html#general-notes-on-using-cpus). Potentially, the [next section](https://picongpu.readthedocs.io/en/latest/install/profile.html#your-workstation) can also be useful for you.

For your other questions,

1. In `.param` files density is measured in units of `BASE_D

[2022-06-30 12:40] baobaba13 commented on #4190
Hi @sbastrakov According to your reply, I know that picongpu can use MPI parallelism.  The build option what I use is always `-b omp2b:native.` Can I understand the meaning of this option as running simulation on only one computing node? My CPU model is shown in the following figure. According to PIC build `-b omp2b:znver3,` if I want to use parallelism, can I simply modify this option to achieve

[2022-06-30 12:48] sbastrakov commented on #4190
These are different and almost unrelated things. MPI parallelization is independent from how each single CPU or GPU is used. How many MPI processes you will run is controlled by `-d` command-line option, or in your `.cfg` file by variables `TBG_devices_{x,y,z}`. Independently of that, inside each device, be it a CPU or a GPU, PIConGPU may also run in parallel using OpenMP, CUDA, HIP, etc. dependin

[2022-06-30 13:31] baobaba13 commented on #4190
Hi @sbastrakov  Thank you for your reply. I just found that the CPU on my device contains two cores and supports hyper threading. The number of threads is 4. I want to make full use of these four threads and set the mode to `TBG _devices_ {4,4,4},` is this correct? Because the calculation speed is too slow for the example using solid density. Even if I lower the input parameters and calculation ra

[2022-06-30 13:37] sbastrakov commented on #4190
Sorry if my previous explanation was confusing. No, this would not be a correct way. For a single CPU one should keep `TBG _devices_x = 1`,  `TBG _devices_y = 1`, `TBG _devices_z = 1`. Then with your 2 cores and hyperthreading please set environment variable `OMP_NUM_THREADS` to value 4. Then you will launch PIConGPU as a single MPI process using 4 OpenMP threads, which should generally be best co

[2022-06-30 14:21] baobaba13 commented on #4190
Hi @sbastrakov
During the installation of picongpu, do I have any dependencies that include `OpenMP,` or do I need to install `OpenMP` and `MPI` manually? I am No related environment variables are seen in `.bashrc`

[2022-06-30 14:22] baobaba13 commented on #4190
Hi @sbastrakov
During the installation of picongpu, do I have any dependencies that include `OpenMP,` or do I need to install `OpenMP` and `MPI` manually? I am No related environment variables are seen in `.bashrc`

[2022-06-30 14:25] sbastrakov commented on #4190
If you mean if PIConGPU somehow automatically installs MPI or OpenMP - no, and it could not do it anyways. Those two are much more basic system things.

MPI is a required dependency of PIConGPU, so you cannot compile it without MPI (and so if you managed to compile PIConGPU your system has some compatible MPI). OpenMP is an optional dependency, but if `-b omp2b:native` (or any `-b omp2b`) works, y

[2022-06-30 14:31] baobaba13 commented on #4190
![5e046ef72b6c7f90a44b90665b61253](https://user-images.githubusercontent.com/39699124/176703679-5cf0fce8-fe0e-4e02-8c07-eba5ececd04a.png)

[2022-07-01 02:56] baobaba13 commented on #4190
Hi @sbastrakov
According to what you said, I installed MPI when installing picongpu, and my `-b omp2b:native` can also work. I added `export OMP_NUM_THTEADS=4` to `.bashrc` and activated the environment variable. But when running the simulation, the speed is as slow as before. I'm not sure whether the parallel setting is successful. Can you give me some advice? Thank you very much

[2022-07-01 03:27] baobaba13 opened #4193 "example “bremsstrahlung""
I ran the calculation example “bremsstrahlung" provided by picongpu, and used paraview to post process the `.h5` file of the analog output, and got the results as shown in the figure below. I suspect the results are incorrect, because they are inconsistent with the results shown in the paper, especially the photon energy density is empty. I don't know where the problem is. Thank you very much for

[2022-07-01 06:16] steindev commented on #4073
@cbontoiu I highly recommend to assign different species for your bunch and your target electrons, i.e. everything is equal between the two except name and initial distribution. Then each species and its derived fields (such as density) are stored in separately in the openOMD file which wases analysis tremendously in your case as you do not have to do any filtering at all.

[2022-07-01 06:42] steindev commented on #4190
Hey @baobaba13, you can use the commandline tool `htop` while your simulation runs to see how many cores are actually used.

[2022-07-01 06:48] steindev commented on #4193
@baobaba13 have you checked earlier time steps as well? I do not know the Bremsstrahlung example, but I assume it is very small as it is an example. The photons may have left the simulation volume already.

[2022-07-01 07:11] baobaba13 commented on #4193
@steindev
Yes, I have also checked the early time steps, and the results are all 0. I try to set the parameters the same as those in the literature, but there is still no consistent result with those in the literature

[2022-07-01 07:21] baobaba13 commented on #4190
Hi @steindev
According to your suggestion, I checked the CPU utilization of my device, as shown in the figure below. It should be that all four threads are in use. I'm not sure whether this speed can be improved, because even so, the simulation speed is still very slow, and I don't know whether this is normal
![NMI@YLVJ_$5SSHE2`WB N6E](https://user-images.githubusercontent.com/39699124/176844962-0

[2022-07-01 07:26] StevE-Ong commented on #4189
Thanks @sbastrakov
I tried this
[code]
With the following result

<img src="https://user-images.githubusercontent.com/52823653/176845052-0d46f686-35da-405e-99e4-1fcc10cc114b.png" width="200" height="400" />

If `d` is a list of random number to loop for it will be enough.

[2022-07-01 07:30] sbastrakov commented on #4190
So if all threads are used it is maybe all one can get for a given machine and simulation setup. Perhaps your initial configuration already did the same and that is why you see no difference from setting `OMP_NUM_THREADS` explicitly.

From your command line I guess you are trying to run a 2d simulation, did you set it up in `dimension.param`? Just setting grid size `z` to 1 does not mean 2d by its

[2022-07-01 07:41] baobaba13 commented on #4190
Hi @sbastrakov
Yes, the example I run is mentioned in the website: [https://picongpu.readthedocs.io/en/latest/examples/Bremsstrahlung/README.html], this is originally a two-dimensional example, The settings in "dimension.param" are shown in the following figure
![TBSOZ$78R9E}RMRK{)9F}CG](https://user-images.githubusercontent.com/39699124/176848383-c8638311-a24d-498e-acd9-07bcd39f01bb.png)

[2022-07-01 07:59] sbastrakov commented on #4189
Sorry if the following is stupid, I have a feeling that I am missing something, or my previous replies were confusing. Now I will try to explain how I see this issue.

With your last code sample, the dust centers are fixed. So each call to the `operator()` will have centers at `(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)` in micrometers. Then all the cells close enough to one (or more) of the centers w

[2022-07-01 08:58] pordyna opened #4194 "Visualizing resources"
Do we have any visualization tool (or at least a data reader) for the resources plug-in?  I couldn't find anything in `lib/python`. I think this could be extremely useful for doing some "static load balancing" with `gridDist`. If not, I may put quickly sth together.

[2022-07-01 09:24] sbastrakov commented on #4194
I am not aware if we have anything centralized, so probably not. Perhaps it makes sense to ask around the floor, maybe some experienced users have their own private scripts for similar reasons. Having it centralized and usage documented as a workflow would be nice imo

[2022-07-01 14:00] cbontoiu commented on #4073
@steindev Thank you for the suggestion. I think this will work if the bunch is injected from outside the target but in my case the bunch is formed inside the target as the laser progresses, so self injection.

[2022-07-02 09:36] steindev commented on #4194
I do not know of anybody who actually used the resource counter.

[2022-07-04 08:21] StevE-Ong commented on #4189
If I understand correctly, a list random center positions is first generated elsewhere. Then, the center is loaded in the loop.

[2022-07-04 09:02] sbastrakov commented on #4189
Yes, and I think that is the only way for your case.

[2022-07-04 10:28] StevE-Ong commented on #4189
I see. I am not very familiar with the code and probably need help with these lines

[code]

[2022-07-04 11:36] sbastrakov commented on #4189
Sure, please find a prototype below.

[code]

Here is the full file (with .txt added for github)
[density.param.txt](https://github.com/ComputationalRadiationPhysics/picongpu/files/9039060/density.param.txt)

In my test it seems to produce a random pattern as attached
![dust_test](https://user-images.githubusercontent.com/6825656/177146865-fafa1fd5-1c5b-4db9-be7b-9865c9fa6d0b.png)

[2022-07-04 12:27] StevE-Ong commented on #4189
Thanks a lot. It does work.
<img src="https://user-images.githubusercontent.com/52823653/177153489-d33d098c-2032-4f1e-abce-c23090d0a51e.png" width="200" height="400" />

[2022-07-04 12:49] sbastrakov commented on #4189
Great, I will close the issue then. Please feel free to reopen or open a new one if needed.

[2022-07-04 12:49] #4189 closed, assigned to nobody

[2022-07-04 14:31] sbastrakov commented on #4142
`MomentumComponent<>` is now removed, there is a new attribute `Momentum<>` to get agregated values of separate momentum components.

[2022-07-04 14:31] #4142 closed, assigned to nobody

[2022-07-04 14:41] fabidie opened #4198 "Stationary field at Huygens surface after Laser initialisation with incidentField"
After letting a Laser pulse propagate through the viewing window and it getting reflected at the y_max plane, there is a field visible at the y_min Huygens surface.  I assume it is stationary but nearly zero compared to the field of the Laser itself, that is why it is just visible after the pulse has left the window.
![e_png_yz_0 5_000320](https://user-images.githubusercontent.com/108678592/177175

[2022-07-05 08:28] sbastrakov commented on #4198
Could you attach the setup? I can have a look tomorrow when I'm back to office.

Also, beware that by default pngs use auto-normalization (independently for each frame). So one would always see some signal there as long as there are non-zero values. There is an option to normalize on a given constant value or for incident field amplitude (except for the `Free<>` profile), please see png.param

[2022-07-05 12:54] fabidie commented on #4198
Checking with openPMD confirms the existence of the stationary field at y_min, and its max intensity is a 0.00065th part of the maximum Laser intensity.
![statField](https://user-images.githubusercontent.com/108678592/177332016-a82c4ea0-9d3e-4f3f-a596-aba451806256.png)
(left: whole viewing window with propagating pulse; right: same window but zoomed into the y_min area)

[2022-07-05 13:30] fabidie commented on #4198
[static_field.zip](https://github.com/ComputationalRadiationPhysics/picongpu/files/9046704/static_field.zip)
The setup

[2022-07-05 13:39] sbastrakov commented on #4198
Oh that relatively high value is unexpected and we should look into it.

Could you share your setup, or is it the IncidentField example as in the repo?

[2022-07-05 17:47] fabidie commented on #4198
I used the setup that I put into "static_field.zip" above, using my own parameters which I have written down there in incidentField.param

[2022-07-06 07:36] sbastrakov commented on #4198
Oh sorry, I was browsing from phone yesterday and missed that message. Thanks, I am looking into it now.

[2022-07-06 14:01] sbastrakov commented on #4198
I was initially even more confused by the gigantic reflection from the right side that your observed rather than the static field. These two things are almost surely unrelated in principle (as the static field occurs before the reflected field arrives), but this very large reflection is already a sign that something is going wrong or unexpected in this simulation.

As with default settings that yo

[2022-07-06 14:09] sbastrakov commented on #4198
@steindev in your experience, what is normal values of `PULSE_LENGTH_SI` in terms of time step value?

[2022-07-06 15:43] etiennemlb opened #4199 "Looking for technical documentation"
Hi,
I took a look at the [Github wiki](https://github.com/ComputationalRadiationPhysics/picongpu/wiki) and [Readthedocs](https://picongpu.readthedocs.io/en/latest/index.html) without finding much about the implementation details for PIConGPU.

I'm looking for the particle to grid deposition algorithm. [This ](https://picongpu.readthedocs.io/en/latest/usage/param/particles/current.html?highlight=de

[2022-07-06 15:57] sbastrakov commented on #4199
Hello @etiennemlb ,

We have two types of particle-grid deposition type operations. One is current deposition as a core part of PIC computational loop. There we implement several algorithms and the implementations are heavily parametrized as we use different strategies depending on hardware (and potentially problem in question) for performance reasons. It is indeed far from easiest-to-read part of

[2022-07-06 18:28] etiennemlb commented on #4199
@sbastrakov :

what is our algorithm or reasoning, or where is implementation of

I'm looking for a high level pseudocode of the implementation of the particle to grid current deposition as part of the classical PIC loop. In particular, what could one do to minimise the effects of "particle drifting" leading to random access on the grid. On CPU, domain decomposition and a coarse spatial sorting co

[2022-07-06 18:37] sbastrakov commented on #4199
Thanks for clarifications @etiennemlb . I will reply in detail tomorrow in German office hours.

For a very quick reply (to be extended tomorrow). PIConGPU uses supercells, normally of 256 nearby cells on GPUs. Each supercell has independent storage of macroparticles located there. Supercells provide spatial locality, no additional sorting inside supercell.

Our typical parallel pattern of particl

[2022-07-07 08:24] sbastrakov commented on #4199
So to expand my reply from yesterday.

PIConGPU core approach for organizing macroparticles and avoid random global memory access in particle-grid operations is supercells. Supercells are just logical Cartesian blocks of nearby cells of the same size. Each supercell has a separate storage for particles that are in those cells, in array-of-structure-of-arrays fashion. What PIConGPU papers and code

[2022-07-07 08:33] Anton-Le opened #4201 "Field energy NaN values for a 2D set-up."
While setting up a 2D simulation with a colleague we have encountered the following problem:

The 2D simulation produces `nan` field values for the field energy from the 1st step onward:
[code]
if compiled and run using cde7ccdfa156e24b26074904752274935d323d0a and the hemera V100 profile/TPL therein.

If compiled and run using 88fd0117d35d463a2302b8d2852587a48d22c8b5 the field energies appear corr

[2022-07-07 13:59] steindev commented on #4198
Wow, thanks for checking the numbers. I can believe that the short pulse duration is a problem, since the spectral bandwidth of the pulse is large and the highest frequencies may not be properly resolved by the grid. This results in large dispersion and subsequent pulse lengthening. However, I don't see the connection to the bad absorption yet.

[2022-07-07 14:21] sbastrakov commented on #4198
I do not have a ready explanation for it, this is just what originally concerned me even more than the stationary field in that simulation as I know from my recent development/experiments with incident fields that reflections were never a problem.  To float an idea, our signal (or its finite-difference derivatives that we calculate) may be so poorly represented by the grid, that we cannot properly

[2022-07-07 14:31] sbastrakov commented on #4198
Also, if we suspect the problem is not with numerical schemes but with floating-point arithmetic (e.g. original choice of scale is somehow bad for PIConGPU as I suspect, see my first bullet point earlier) we could also try rerunning as-is with double precision and see if or how that helps.

Or I guess it's an option to leave it off and switch to a more time-resolved laser and focus on the incident

[2022-07-07 18:06] etiennemlb commented on #4199
Hi,
Thanks a **lot** for taking the time to answer.

By sorting I meant binning as discussed by this old paper: [Fast parallel particle-to-grid interpolation for plasma PIC simulations on the GPU](https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.381.3111&rep=rep1&type=pdf). I interpret this as a coarse spatial particle sorting.

What my mental model is for `global memory atomic ops are qu

[2022-07-08 07:12] steindev commented on #4178
Hey @baobaba13, PIConGPU simulates the classic interaction of charged particles and electromagnetic fields. Additionally, extensions such ionization routines can be activated to increase the fidelity in the simulation of plasmas.

In your described setup, the interaction of the laser with the particles, and the interaction of the produced radiation with the particles will be described correctly as

[2022-07-08 07:30] steindev commented on #4190
@baobaba13 It seems the speed you observe is the best you can obtain for the given setup and machine. I will close this issue. Feel free to open a new issue if you have further questions.

[2022-07-08 07:31] #4190 closed, assigned to nobody

[2022-07-08 08:39] sbastrakov commented on #4199
Ah, then yes, our approach to particle organization is generally similar to that paper. Details differ e.g. we have a collection of frames for each supercell / bin, but those are more on technical rather than principle side.

Regarding the atomics on GPUs, hopefully @psychocoderHPC can comment.

[2022-07-08 09:01] StevE-Ong opened #4204 "Understanding calorimeter"
Hi, I am trying to plot and calculate the particle counts from calorimeter and compared to histogram. I am confusing about the bin and the correct unit one should use. I have the following result with the python script. I am not sure if this is correct. I appreciate if someone can help.

[code]
Output:
[code]
I could understand the difference of X-ray photon number between histogram and calorimete

[2022-07-08 09:05] sbastrakov commented on #4204
@steindev @PrometheusPi could you have a look?

[2022-07-08 09:33] psychocoderHPC commented on #4199
Global memory atomics is more costly as you said. Global memory atomics will be performed in L2/L3 memory of the GPU, this memory is shared between all SM and is not really large. For sure atomic operations will invalidate L1 caches. The advantage of performing shared memory atomics is that you avoid atomics serialization because you composed your domain already because only threads within a block

[2022-07-08 13:22] steindev commented on #4204
@wmles I think you are using the Calorimeter, right? Can you help, please?

[2022-07-11 12:53] sbastrakov commented on #4201
On the dev system this setup (not each time, but regularly) crashes and does not produce NaNs. Which is arguably better as it may be easier to catch. With debug information and cuda-gdb it gives `Thread 1 "picongpu" received signal CUDA_EXCEPTION_14, Warp Illegal Address.` [here](https://github.com/ComputationalRadiationPhysics/picongpu/blob/365820926e978deeae135c7fd15e62a43353b184/thirdParty/mall

[2022-07-11 12:56] sbastrakov commented on #4201
As a note, in addition to PIConGPU changes since the version that works for this setup, there were also updates to mallocMC and alpaka/cupla. So if we suspect memory, should also look there.

[2022-07-11 14:25] sbastrakov commented on #4201
Output of `cuda-memcheck` when compiled with same flags is:
[code]

So it also shows a crash when accessing memory inside collisions, but again it is not clear which part to blame for it

[2022-07-11 17:18] psychocoderHPC commented on #4201
The crash happen during an atomic operation in inter collision functor. This already helps to to reduce the code we need to review again.

Unfortionally collision is using mallocMC, this mean the error could happen there too.

[2022-07-12 07:47] baobaba13 opened #4205 "Some problems about parameter setting"
Hi，guys
1.When I run the "bremsstrahlung" example, my terminal cannot complete the simulation due to the excessive amount of calculation, and the original grid number is 2048 × 2048, and the simulation frame is "8" μ m × 8 μ m ", the number of particles contained in each cell is 100, and I reduce the number of meshes to 512 × 512 to complete the simulation, but the result seems wrong. I want to as

[2022-07-12 09:15] sbastrakov commented on #4201
`Address 0x7f2c543fff80 is out of bounds` - i think this address is definitely too large, so if mallocMC gave it it's wrong? Or perhaps we somehow have a bug that results in somehow improper address

[2022-07-12 10:08] wmles commented on #4204
sorry @steindev missed to read the github mails the last days... well, I'm using the calorimeter not very often, since the big simulations hang with calorimeter enabled and don't hang without (cluster+queue-dependent^^). But I'll try to understand this...

[2022-07-12 10:23] StevE-Ong commented on #4204
To be exact, how could we convert the value from calorimeter to particle/MeV or particle/mrad?

[2022-07-12 10:24] wmles commented on #4204
Hi @StevE-Ong

I'm sorry if I didn't understand your code completely and state something obvious, but this will probably be easier with interactive questions...:
the calorimeter data is supposed to contain total energy inside the bins, while the histogram data is supposed to contain particle count. I think you notice that and wrote your code accordingly, but just to be sure...
But the calorimeter

[2022-07-12 10:26] wmles commented on #4204
The data in the array should be total energy inside the bin. So to get particles you have to divide by some average particle energy corresponding to this bin _and_ then also by the energy and angle bin width
Dividing by the two energies you do, it seems, but I don't see dividing by angular width, maybe you missed that?

[2022-07-12 10:52] StevE-Ong commented on #4204
@wmles Thanks. In this script I summed over the angle. I have another script which sum over energy for angular distribution.

For histogram, I plot `dist/div` vs `en`. `div` is the energy bin size (I suppose). The integration `integrate.simps(dist/div,en)` gives the number of particles. I did this on electron and benchmark with openpmd `get_charge` and it is consistent.

For calorimeter, I was try

[2022-07-12 10:58] psychocoderHPC commented on #4201
The crashing function `/opt/spack-modules/linux-ubuntu20.04-skylake_avx512/gcc-10.2.0/cuda-11.0.2-mtxiuzc35ykbmjk4fnpmhwnjbgquvcv5/targets/x86_64-linux/include/device_atomic_functions.hpp:157` points to

[code]

[2022-07-12 11:31] steindev commented on #4205
Regarding 1., I do not know. I think there is currently no project in the group using that feature and no person knowing that example very well. I suggest to check png output, and if it is not activated, to add it to your setup's cfg. The png output should show the density distribution.

[2022-07-12 11:38] steindev commented on #4205
Regarding 2., you adjust the density in `density.param` and the initial temperature in `particle.param`. Also check in `speciesInitialization.param` that a temperature functor is in the initialization pipeline. If not, you can see in the respective files in KelvinHelmholtz example how this is done.

[2022-07-12 12:33] cbontoiu opened #4206 "Too many open files"
Hello

I have a problem when reading many snapshots from a data series

![image](https://user-images.githubusercontent.com/7108691/178489688-7345c085-db41-48a8-98d8-12fdf72cb1e3.png)

This is the Python code used with the _openPMD Viewer,_ to load the series and read the charge density.

[code]
[AllOscilationsDataImages.txt](https://github.com/ComputationalRadiationPhysics/picongpu/files/9092843/A

[2022-07-12 12:48] wmles commented on #4204
because of the quantity that is binned in this plugin. It does not count the particles that belong into a bin, but it sums the total energy of all these particles (that's a complication in your case, but in other circumstances it might be desired to know the total energy and not the particle number).
That's why, in order to get particle count, you have to divide the total energy by the typical ene

[2022-07-12 13:39] StevE-Ong commented on #4204
I ever tried with this but it doesn't reproduce the count (or count/energy) like Histogram.
![photon](https://user-images.githubusercontent.com/52823653/178498288-83341f5f-92ce-4815-8220-349b875346a0.png)

I have seen a post [here](https://github.com/ComputationalRadiationPhysics/picongpu/pull/1979#issuecomment-297017863) comparing histogram to calorimeter. But not sure what exactly have been mult

[2022-07-12 14:09] BrianMarre commented on #4206
First, this looks like a openPMD-viewer bug not a PIConGPU bug therefore it might be better to actually ask them, that said you might want to look into [this](https://stackoverflow.com/questions/68784048/oserror-errno-24-too-many-open-files-in-python-difficult-to-debug) and check as suggested here what the maximum number of open files on your system actually is.
If the number is lower than the num

[2022-07-12 15:00] wmles commented on #4204
Yes, the total should be equal, otherwise something is wrong. I hope that if you rerun the simulation adding `--ph_calorimeter.maxYaw 180 --ph_calorimeter.maxPitch 90` that then the total particles sum should be nearly equal. Apparently, for your physical setup a lot of the photons are not in forward direction, that's why the values are so hugely different.

[2022-07-12 15:10] wmles commented on #4204
yes, in the last paragraph he states that it approximately fits to the histogram if you take the bin values and divide by the central energy, and multiply with `simUnit/JoulesInKeV`.
(since you already converted your values in joule, this should be fine)

[2022-07-12 15:38] cbontoiu commented on #4206
@BrianMarre Very useful reply. Thank you!

I checked and obtained this
![image](https://user-images.githubusercontent.com/7108691/178530762-7c339a3a-b8e0-4c08-999c-f343e94534fb.png)
which indicates that it is rather a problem for the openPMD Viewer, since the limit of files is 1024 and my iterations are ~400.

[2022-07-12 16:31] #4206 closed, assigned to nobody

[2022-07-13 07:43] StevE-Ong commented on #4204
The simulation at later time step. Note that the photon is set to propagate.
[code]

Assuming the weight is equal then the total photon number at step 117355 is 8257540287.6 (8.26e+09)

From the plotting script [above](https://github.com/ComputationalRadiationPhysics/picongpu/issues/4204#issue-1298711574) we have
<img src="https://user-images.githubusercontent.com/52823653/178673503-b5933c61-27fb-

[2022-07-13 08:01] summer7807 opened #4207 "Openpmd could not be successfully installed"
Hi guys：
I encountered the following error when installing openpmd on my terminal (Ubuntu 22.04). I don't know what the problem is. Can you give me some advice or guidance? Thank you.
![1](https://user-images.githubusercontent.com/74045515/178682486-c575a15a-b4ac-48c2-9bfd-9caae381128b.png)
![2](https://user-images.githubusercontent.com/74045515/178682508-0e83387b-1c22-41eb-a10a-dab6f034e018.png)

[2022-07-13 08:22] PrometheusPi opened #4208 "Radiation plugin: high frequency radiation "trees""
The radiation plugin seems to produce spectra with minima that split over time and create a tree like structure. The effect is observable for frequencies much higher than the laser or plasma frequency.
It is currently unclear whether this is a numerical or real physical effect.

The "trees" occurs for e.g. betatron radiation during LWFA or hosing during PWFA.

[2022-07-13 08:41] pordyna opened #4209 "Wrong origin calculation in incident field for focus position outside of domain"
The incident field allows one to set the laser focus outside the Huygens surfaces, but the origin (of the laser coordinate system) calculation is assuming the focus is inside the box made by the generating surfaces. With that,  in some cases the origin will be calculated not to be somewhere on the surface of this box but rather on one of the generating surfaces extended into infinity (possibly som

[2022-07-13 08:41] sbastrakov commented on #4207
Hello @summer7807 ,

Please redirect your question to the [GitHub of openPMD API](https://github.com/openPMD/openPMD-api). We are not developers of it, but only users of that library (though there are some connections between the teams).

[2022-07-13 08:52] summer7807 commented on #4207
ok  thanks

[2022-07-13 08:52] psychocoderHPC commented on #4207
@summer7807 As the error message is saying your openPMD is finding an installed version of HDF5. This version is most likely from your `apt` packages. The version openPMD found is compiled for serial usage only and is not supporting MPI.
Please check the openPMD documentation on how you can compile HDF5 for parallel usage on your own.

Note: I will close this issue because the reason why this erro

[2022-07-13 08:52] #4207 closed, assigned to nobody

[2022-07-13 08:55] pordyna opened #4210 "Arbitrary order field solver documentation may need some clarification"
The current documentation shows figures for the phase velocity error for a very low resolution (3 cells per laser wavelength) that suggest that the new solver requires an order of magnitude shorter timestep, but according to @sbastrakov this is not true for more realistic resolutions. So, maybe we should also include figures for typical resolutions in typical Wakefield and solid-density simulation

[2022-07-13 09:05] sbastrakov commented on #4210
Perhaps [in this section](https://picongpu.readthedocs.io/en/latest/models/AOFDTD.html#dispersion-relation-for-arbitrary-order-finite-differences) in addition to existing plots for $N_\lambda = 3$ also add a better resolved case.

Note that now PIConGPU outputs phase velocity for the currently used parameters. Of course, this does not mean we shouldn't also provide a script as requested - as PICon

[2022-07-13 09:07] summer7807 commented on #4207
ok  thank you

[2022-07-13 09:40] pordyna commented on #4209
oh @sbastrakov, actually I'm not sure if this is only for focus outside the domain.
So I was playing around with your `getOrigin` implementation in a cling jupyter notebook for my simulation parameters and
I get the origin outside the domain for a focus inside it.

So for:
[code]
I get origin equal  `{ 2.2609739e-06, -2.6097393e-07, 1.6000000e-06 }`

`const double focus[3] = {1.0e-6, 1.0e-6, 1.6e-

[2022-07-13 09:56] sbastrakov commented on #4209
Thanks for investigating, I will look into these cases today or tomorrow.

[2022-07-13 10:53] Anton-Le commented on #4208
Here's an example of such a spectrum radiated by the bunch:
![BunchSpectrumLineDoubling](https://user-images.githubusercontent.com/50339174/178716695-7604178d-1f4c-4532-a879-ef3b3447c732.png)

The bunch travelling at a relativistic gamma of 1900 impacts the background plasma at around 17000 time steps. Frequency ind rad/s (angular frequency).

[2022-07-13 13:50] pordyna opened #4211 "Time-dependent openPMD field output range"
Since recently, one can set a range of cells that the openPMD plugin will include in its output. It would be useful to be able to make this range time-dependent.

I'm integrating simulation fields (electron density) over a simulation axis to create 2D maps that can be used to calculate SAXS scattering via FFT. This integration should be done over time and space, since one wants to integrate the de

[2022-07-13 15:09] PrometheusPi commented on #3596
Since the old test is removed and the new test setup is merged and an automatic test is currently developed by @MSVoss, I will close this issue

[2022-07-13 15:09] #3596 closed

[2022-07-13 15:43] sbastrakov commented on #4201
During investigation, together with @psychocoderHPC we found a [bug in mallocMC](https://github.com/alpaka-group/mallocMC/issues/236), same as also reported today in mattermost. This bug seems to exist in its code base for a long time, but appears unlikely to actually occur in a PIConGPU simulation - a few things have to go "right" for it. Which they did when I was running this setup on our dev sy

[2022-07-13 19:22] Anton-Le commented on #4201
Once the mallocMC problem is fixed I'll try with the original set-up. My guess is that the problem reported here is not, or only indirectly related to the mallocMC bug. As stated: we have not observed the NaN problem with 'old' versions (16.06.2022 and prior), so if the mallocMC bug existed at that time it's likely not the culprit.

[2022-07-14 10:59] sbastrakov commented on #4210
cc @steindev just in case

[2022-07-14 14:40] steindev commented on #4193
Sry for the late reply. I am confused. Did you run the example without any changes or only with parameters stated in the 'literature'? What literature do you actually refer to?

[2022-07-14 14:48] steindev commented on #4211
Please make sure that what you need is not a duplicate of the shadowgraphy feature currently developed by @finnolec.

[2022-07-14 21:19] Anton-Le commented on #4208
I have run the same set-up for comparison purposes with the **background plasma present** (same as in the post above)
![Spectrum_detector22_withbg](https://user-images.githubusercontent.com/50339174/179086456-63f44877-be71-4b3a-b55d-ac07c2f12c10.png)

and with the **background plasma removed**:
![Spectrum_detector22_nobg](https://user-images.githubusercontent.com/50339174/179087207-09916a08-6796-4

[2022-07-15 01:59] summer7807 commented on #4193
Hi @steindev
The literature I refer to is `Entwicklung und Ü berpr ü Fung eines photoenmodels f ü r die abstractlung durch hochenergetische elektronen` , which is [https://picongpu.readthedocs.io/en/latest/examples/Bremsstrahlung/README.html] I have seen the parameters set in the example in the mentioned literature, but they are not the same as the parameters mentioned in the literature. I run the

[2022-07-15 02:04] baobaba13 commented on #4193
Hi @steindev
The literature I refer to is `Entwicklung und Ü berpr ü Fung eines photoenmodels f ü r die abstractlung durch hochenergetische elektronen `  , which is [https://picongpu.readthedocs.io/en/latest/examples/Bremsstrahlung/README.html]mentioned in the website. I have seen the parameters set in the example in the mentioned literature, but they are not the same as the parameters mentioned i

[2022-07-15 07:36] sbastrakov commented on #4209
Solved with #4221 .

[2022-07-15 07:36] #4209 closed, assigned to sbastrakov

[2022-07-15 09:45] HighIander opened #4224 "tbg allows no parameters behind the path given after -t"
...specifically the command  `tbg -c etc/picongpu/some.cfg -s -t /some/path -f` fails. Shouldn't it work, though?

[2022-07-15 09:47] HighIander commented on #4159
@psychocoderHPC and is this the case in all the profiles now? I'm asking because I have a profile here that has those variable hardcoded, but probably it is an old version. Otherwise, the above solution works and this issue can be closed.

[2022-07-15 09:55] sbastrakov commented on #4224
It should not work. On command line parsing level It is impossible to distinsuish between the two cases:

- `-t` is used with default value and `/some/path` is a free argument (what you would like to have now)
- `/some/path` is argument value for `-t` (not what you intended here, but also a valid interpretation).

If you reorder parameters such that what follows after `-t` is definitely not an arg

[2022-07-15 10:57] Anton-Le commented on #4201
I have tried the same set-up with the newest PIConGPU `dev`, incorporating #4220 . The problem of `nan` field values persists with the mallocMC fix, too.

The following are the contents of `fields_energy.dat`:
[code]

[2022-07-15 11:27] sbastrakov commented on #4201
FYI today we also found out that in 2d simulations at some point we do incorrect access of `simDim`-dimensional vectors. So for `v` of type `pmacc::Vector<T, 2>` we somehow do out-of-bounds access `v[2]`. Investigating where and why it happens.

Edit: turned out harmless, see next message.

[2022-07-15 12:35] PrometheusPi commented on #3689
@sbastrakov not yet

[2022-07-15 13:12] sbastrakov commented on #4201
Okay, that last thing turned out a quite harmless PNG stuff, fixed by #4225 .

[2022-07-17 10:47] Anton-Le commented on #4208
The following shows the spectrum for the same detector and the same simulation set-up (**no background plasma**) but with the default computational precision set to 64 bit in `precision.param`:
![Spectrum_detector22_nobg_64bit](https://user-images.githubusercontent.com/50339174/179394735-7b4e024c-b252-4bf5-8786-0d2d1203d9cd.png)

Since the pattern vanishes with a switch to higher precision I concl

[2022-07-18 09:16] sbastrakov commented on #4208
Oh that is interesting. Do I remember correclty, that mixed `float_X`-`float_64` arithmetic is used there since the hackathon last summer? And there is only a handful of `float_X` in the kernel. Perhaps it's worth trying to replace `float_X` with `float_64` [in this file](https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/include/picongpu/plugins/radiation/Radiation.kernel) and als

[2022-07-18 09:17] Anton-Le commented on #4208
Yes. Since the hackathon the implementation is mixed-precision. I'll try your suggestion.

[2022-07-19 08:39] Anton-Le commented on #4208
I tried to roll back a few changes to precision in `Radiation.kernel` for c6d20f27dabfb122cbafcceed301c648294afba5
and obtained the following spectrum with the default precision of 32 bit:

![Spectrum_detector22_nobg_3264bit_v1](https://user-images.githubusercontent.com/50339174/179701874-88e0bd52-c9ae-42f4-91f2-382d19e293e3.png)

(This is the same configuration as for plot No. 2 in https://github

[2022-07-19 09:43] StevE-Ong commented on #4208
Hi, sorry for intervene.
Does this issue similar to https://github.com/ComputationalRadiationPhysics/picongpu/issues/3658#issuecomment-889179594 which higher harmonics are seen at higher frequencies?

[2022-07-19 09:56] sbastrakov commented on #4208
Oh you are right, it may be

[2022-07-19 09:57] Anton-Le commented on #4208
@StevE-Ong  That is very likely and @PrometheusPi has opened this issue in part because of the similarities.
Given the spectrum you observe I'll try a wider range of frequencies below the critical frequency (currently the radiation is computed for the range $[0.1, 7]\cdot\omega_c$ ).

What I'd like to figure out is which of the quantities above will have the largest effect on the spectrum and whet

[2022-07-20 11:42] sbastrakov commented on #4208
The following is perhaps unrelated to the issue, but still potentially worth having a look.

We calculate frequencies (on host for output and on device in-kernel) as `float_X` for all 3 of [linear](https://github.com/ComputationalRadiationPhysics/picongpu/blob/4cf1739addad964f26135b8d188a35a474ae4c5f/include/picongpu/plugins/radiation/frequencies/radiation_lin_freq.hpp#L43), [log](https://github.c

[2022-07-20 11:43] sbastrakov commented on #4208
Perhaps @PrometheusPi you could comment on my last message.

[2022-07-20 12:19] Anton-Le commented on #4208
@sbastrakov If I remember correctly pen-and-paper rounding error analysis indicates that the phase and its constituents _should_ be kept in 64 bit (I will have to check that one in my notes, though).

[2022-07-20 13:43] BrianMarre opened #4228 "[Discussion]Switch boundElectrons particle attribute from float_X to uint32_t"
Macro particles in PIC are phase space samples following physical trajectories.
As such fractional ion charges are not useful, since physical ions always have integer charges and therefore follow integer charge trajectories, not fractional charge trajectories.

[2022-07-21 08:32] sbastrakov commented on #4201
Fix is merged to `dev`, for my runs on Hemera the problem is no longer observed. Closing the issue. Please reopen/make new issues if something goes wrong again.

[2022-07-21 08:32] #4201 closed, assigned to sbastrakov

[2022-07-21 08:40] sbastrakov commented on #4228
Could you comment on the reasoning given for `float_X` choice: https://github.com/ComputationalRadiationPhysics/picongpu/blob/fa0747168cb9e5b09ef83dd065fa09c143d9dc0e/include/picongpu/param/speciesAttributes.param#L104-L114

[2022-07-23 03:40] BrianMarre commented on #4228
As far as I understand them they are essentially,
- we might use fractional charges in the future
- boundElectrons is required for ionisation
- all ionisation algorithms need to know the atomic number so, atomicNumber is always present if boundElectrons is present and vice versa, also negation

I would argue that from a physics point of view fractional charges are of little use, since they lead to

[2022-07-25 06:48] pordyna commented on #4211
@steindev Oh I think Finn is actually propagating an extra laser with the PIC algorithm for that (s not possible for X-rays)? This is supposed to be just a way of doing a simplified analysis for SAXS without the -`xrayScattering` plugin (which I found to be extremely slow in 3D) or the Monte-Carlo approach from my master's.

[2022-07-25 10:49] Anton-Le commented on #4208
I think I have pinpointed the one (or two) variable(s) responsible for the effect. By reverting the [changes](https://github.com/ComputationalRadiationPhysics/picongpu/issues/4208#issuecomment-1188767843) I came to obtain the following spectrum:
![Spectrum_detector22_nobg_3264bit_v5](https://user-images.githubusercontent.com/50339174/180756302-2c7fe562-04c2-48eb-9b94-4685f1e1988e.png)
Here the onl

[2022-07-27 07:41] sbastrakov commented on #4208
Fixed with #4231.

[2022-07-27 07:41] #4208 closed, assigned to PrometheusPi, Anton-Le

[2022-07-27 09:09] sbastrakov commented on #4224
@HighIander do you have further questions / suggestions on this matter?

[2022-07-28 06:45] PrometheusPi commented on #4228
As far as I understand, the fractional charge states are already possible due to the reasons, that in principle shielding can (and should) be considered in ionization processes. This is only possible with fractional charge numbers.
However, this makes no sense with respect to the particle pusher.
Shielding is currently dealt with by Z_eff values. Thus I think converting to integers should be fine.

[2022-07-28 07:23] sbastrakov commented on #4228
Thanks for clarifications @BrianMarre @PrometheusPi .

[2022-07-29 11:52] PrometheusPi commented on #3658
@StevE-Ong We fixed a bug in the radiation plugin that caused additional spectral modulations at high frequencies #4231.
Perhaps you want to rerun your simulation and check whether the high frequency spectrum changes.

[2022-07-29 15:57] Anton-Le opened #4239 "[Radiation plug-in] Weighting window results in 0 radiation for a moving window"
In case of a simulation with a moving window the way the radiation window for the suppression of ringing artefacts is applied may result in radiation amplitudes being =0.

`winFkt` in `Radiation.kernel` gets the global particle position as a first argument and the simulation box size as the second. Internally positions are shifted by 1/2 the box size and the weighting is applied.
This works well i

[2022-07-29 15:59] Anton-Le commented on #4239
Currently looking into a solution where the window in `y` direction is either ignored, as it would be a 'jumping' window, or the global particle position supplied to the window function is shifted by the moving window offset.

[2022-07-31 09:07] Anton-Le commented on #4239
For the same set-up as in #4208 (no BG plasma) the following spectrum shows the effect of **shifting the input position** to the radiation window function by `globalOffset[d] * cellSize[d]` with a Triplett (Hann-Poisson) window:

![Spectrum_shift_detector_0](https://user-images.githubusercontent.com/50339174/182018789-f97671c5-1dfd-4841-910e-3e0122ea2fb1.png)

Upon suggestion by @PrometheusPi I ha

[2022-08-01 13:38] sbastrakov opened #4244 "Checks for current addition to E ignore current background"
The check if current exists only considers species. However, [this part](https://github.com/ComputationalRadiationPhysics/picongpu/blob/67c50a27a7d417a92f4ae6a596f30fefc6805727/include/picongpu/simulation/stage/CurrentInterpolationAndAdditionToEMF.hpp#L92-L96) should also consider if current background is enabled.

Now with the current background enabled and no relevant species (not macroparticles

[2022-08-02 12:11] sbastrakov commented on #4224
I will close it, please feel free to reopen if needed.

[2022-08-02 12:11] #4224 closed, assigned to nobody

[2022-08-02 13:14] fabidie opened #4249 "Dimension dependent Gouy Phase"
In GaussianBeam.hpp there seems to be a mistake with the Gouy Phase xi (line 254) -
for a 3D simulation it is implemented correctly, but in case of a 2D simulation it has to be multiplied by 0.5,  I think.

[2022-08-02 13:18] sbastrakov commented on #4249
Line in question https://github.com/ComputationalRadiationPhysics/picongpu/blob/7270512f661392797a62f6c4d58c026231a5b425/include/picongpu/fields/incidentField/profiles/GaussianBeam.hpp#L254

Note that perhaps the same potential issue is with laser implementation https://github.com/ComputationalRadiationPhysics/picongpu/blob/7270512f661392797a62f6c4d58c026231a5b425/include/picongpu/fields/laserProf

[2022-08-03 08:18] sbastrakov opened #4250 "Binomial smoothing of J is incompatible with current background"
As discussed [here](https://github.com/ComputationalRadiationPhysics/picongpu/pull/4247#discussion_r935755682).

There are several aspects for it:

- Technical - in current `dev` (and for a very long time) it does not work technically, as after the exchange the `GUARD` values will only have particle-created currents from other domains, but no background. Which is fine with no smoothing, but with `

[2022-08-03 08:43] sbastrakov commented on #4244
Solved with #4247.

[2022-08-03 08:43] #4244 closed, assigned to sbastrakov

[2022-08-04 11:57] steindev commented on #4249
Yes, as we make a difference between 2D and 3D implementation for the amplitude of the envelope, we have to make a difference for the Gouy phase too. The Gouy phase of a Gaussian laser is $\tfrac{1}{2}\mathrm{atan}(z/z_\mathrm{R})$ **per transverse dimension** as laser propagation can in principle be seen as expansion of a cylindrical wave per dimension from every point in its aperture (*Huygens p

[2022-08-04 11:59] sbastrakov commented on #4249
Do I understand correctly that it's a relatively straightforward fix @steindev  ?

[2022-08-04 12:03] steindev commented on #4249
I think so. We need a condition such as the one we use for the envelope
https://github.com/ComputationalRadiationPhysics/picongpu/blob/7270512f661392797a62f6c4d58c026231a5b425/include/picongpu/fields/incidentField/profiles/GaussianBeam.hpp#L277

[2022-08-05 08:12] sbastrakov commented on #4250
Solved with #4252.

[2022-08-05 08:12] #4250 closed, assigned to sbastrakov

[2022-08-08 12:16] steindev commented on #4211
Well, in principle you can propagate any (or no extra) field through the simulation and record it with the shadowgraphy plugin. The problem in your case just probably is the fact that you will need a very high resolution to correctly calculate propagation of the X-ray pulse through the volume.

[2022-08-08 12:35] steindev commented on #4193
Hi @baobaba13 I need to forward this to @PrometheusPi since he supervised the developments back then. Unfortunately, he is unavailable till September. But I have zero experience with this feature.

[2022-08-11 09:45] BrianMarre opened #4267 "Missing Documentation of CELL2PARTICLE_OPERATOR"
The [cell2Particle](https://github.com/ComputationalRadiationPhysics/picongpu/blob/59e9b53605f9a5c1bf271eeb055bc74370a99052/include/picongpu/particles/access/Cell2Particle.tpp#L40) operator defined is missing a in source documentation, also has no out of source documentation I am aware of.
That makes using it difficult.
@psychocoderHPC could you add at least a short one liner describing what it is

[2022-08-11 09:49] BrianMarre opened #4268 "Needs update to Copyright header"
@sbastrakov, one more for your collection ;)

https://github.com/ComputationalRadiationPhysics/picongpu/blob/59e9b53605f9a5c1bf271eeb055bc74370a99052/include/picongpu/particles/interpolationMemoryPolicy/ShiftToValidRange.hpp#L1

[2022-08-11 09:50] #4268 closed, assigned to nobody

[2022-08-11 09:51] BrianMarre commented on #4268
sorry, already updated in the dev branch, stupid github interface

[2022-08-11 13:06] BrianMarre opened #4270 "Doxygen config file misconfigured"
The latest readTheDocs Documentation on how to build the doxygen documentation does not work as described, no html folder is actually generated if one follows the documentation, since
https://github.com/ComputationalRadiationPhysics/picongpu/blob/f272ec49dca42afa16580d81dfedd772b74cc845/docs/Doxyfile#L9

sets generate html to false

[2022-08-11 13:21] BrianMarre opened #4271 "Errors in Doxygen Documentation of Atomic Data"
Has both grammatical errors and documentation assignment errors,

@psychocoderHPC could you assign me to this issue, will fix it as part of the refactor, for now just a reminder to myself

[2022-08-15 11:26] lennertsprenger opened #4272 "TBG arguments usage help"
When using the tbg program the help information displays the following usage
[code]
From how I read this usage help, I would assume, that I can start a simulation with:
```tbg -c cfgFile destinationPath```
that means, the -s and -t arguments are optional. But when I execute the command like that nothing happens.

When I execute the tbg command with the following arguments, it works. So it seems th

[2022-08-15 11:31] sbastrakov commented on #4272
~~This seems like the same question as in #4224, please see the explanations there.~~

Edit: upon offline discussion, it's another question actually.

[2022-08-15 11:38] sbastrakov commented on #4272
So that text help string is  written manually, not auto-generated. As far as I can see, internally `-c` is treated same way as `-s` and `-t`, so probably in the help string it should be `-c [cfgFile] -s [submitsystem] -t [templateFile]` instead.

[2022-08-16 04:13] seberg commented on #2482
I will note that NumPy is fast since NumPy 1.23, so this proably just doesn't matter anymore.

[2022-08-16 07:04] sbastrakov commented on #2482
Thank you for the information @seberg , I will close the issue.

[2022-08-16 07:04] #2482 closed

[2022-08-19 11:14] pordyna opened #4275 "Python code style requirements need documentation"
We require our python code to be PEP8 conform, but we don't mention it in our documentation.
We could also discuss if we should really enforce the default line length limits (79 for code and 72 for doc-strings) since we are already less strict when it comes to c++ code.

[2022-08-19 17:43] etiennemlb commented on #4199
Is it correct to say that the particule to grid deposition kernel's computation is bound by the speed at which you can do the atomic shared memory operations ?

[2022-08-23 08:45] sbastrakov commented on #4199
If one employs such a high level view, I would say so. Maybe with additional clarifications that

- it is not the only way PIConGPU can do current deposition in principle, but what works best for us on current GPUs and types of simulations we do (so in principle if there was a GPU with same shared memory and much better global memory, we would switch to another strategy and not rely on shared memo

[2022-08-24 10:43] PrometheusPi opened #4276 "openPMD-api output: global window offset only in meshes"
Apparently, the [*global window offset*](https://github.com/ComputationalRadiationPhysics/picongpu/wiki/PIConGPU-domain-definitions) of a simulation is only stored in mashes with PIConGPU's openPMD-api output.
This is fine as long as both meshes and fields are stored, but highly unpractical if one has only particle data and needs to determine the lab-frame position of particles, which requires the

[2022-08-25 09:25] sbastrakov commented on #4276
After investigating and discussing offline it seems we have a bug in how the openPMD plugin calculated values for the openPMD `positionOffset` particle attribute. Which means our data does not adhere to the standard and one needs to know it, and also potentially know additional information to properly interpret it. So it is a serious bug.

From the standard, it is supposed to be an offset in what

[2022-08-25 09:47] steindev commented on #4270
@BrianMarre Please provide a PR with a fix.

[2022-08-25 10:45] steindev commented on #4272
I am surprised. I regularly use tbg without `-s`, but never without `-t` and I think usage without `-t` does not make sense.

[2022-08-25 10:53] steindev commented on #4270
Wait. That line was changed the last time 6 years ago. And I generated html after that date. Are you sure you followed the documentation?
See (https://picongpu.readthedocs.io/en/latest/dev/sphinx.html).
I assume you followed (https://picongpu.readthedocs.io/en/latest/dev/doxygen.html) which is indeed not correct, as `doxygen` by default does not generate html, since the html pages are generated by

[2022-08-25 10:54] steindev commented on #4275
Fixed w/ #4277

[2022-08-25 10:54] #4275 closed, assigned to nobody

[2022-08-25 10:55] steindev commented on #4275
A general discussion on our Python code style requirements should take place in a different issue. (If there is a need for a discussion.)

[2022-08-25 11:09] steindev commented on #4272
Yes and it actually does not work without `-t`. I am not exactly sure whether tbg waits for input via stdin when started without `-t`, however, even this behavior is not in line with the behavior described in the help message.

@psychocoderHPC

[2022-08-25 12:33] sbastrakov commented on #4276
I did the following test. Used standard LWFA example, 4.cfg, changed to 2 GPUs and grid in y to 1024. Below is output of [these two variables](https://github.com/ComputationalRadiationPhysics/picongpu/blob/25850d972b48f80a9b7fdfa6b5e9e484623dd854/include/picongpu/plugins/openPMD/openPMDWriter.hpp#L1412-L1415). Since it is used inside both normal output and checkpointing, and the setup uses both, I

[2022-08-29 12:13] psychocoderHPC commented on #4276
I was struggling with the last time too. The problem is that OpenPMD is not clearly defining the position offset.
@sbastrakov and me discussed it and checked also the openPMD standard and come to the result that our implementation is correct.
There was somewhere in the openPMD universe a discussion about it but I cannot find it.
As I can remember it is not possible to work with particles only with

[2022-08-29 12:40] sbastrakov commented on #4276
This is true for current PIConGPU implementation, I do not think it is in the openPMD standard. We agreed to discuss it in the office on Wednesday with @psychocoderHPC .

[2022-08-30 09:19] PrometheusPi commented on #4198
@steindev and @fabidie Does your laser definition ensures that the integral of the electric field over the entire volume equal to zero? (Not all our lasers ensure this but with lambda_0 << tau, this is usually negligible.)
If it is not ensured, this might explain the static background field (and perhaps the issue with the absorber).

[2022-08-30 12:23] psychocoderHPC commented on #4272
All is fine the help looks correct.

[code]

Maybe the doc should be `tbg will use stdin, if -t is not present.`. I think the doc is not precise because the behavior for `-t` without a file was added later on and we missed to update the doc string. `-t` without file will use the variable `TBG_TPLFILE` for the file name.

[2022-08-30 12:27] psychocoderHPC commented on #4272
`tbg -c cfgFile -s -t destinationPath` is not working because the definition of the help string is `egetopt -o t::c::s::o:fh -l tpl::,cfg::,submit::,force,help -n tbg ++ "$@`
`egetopt` is not supporting that a parameter defined with `::` (optional argument) is that last parameter.

help of `egetopt`

[code]

The original linux tool `getopt` is not able to handle optional arguments. `egetopt` is a

[2022-08-30 15:08] BrianMarre commented on #4270
I did indeed follow the dev/doxygen documentation

[2022-09-01 08:18] psychocoderHPC commented on #4276
@sbastrakov and me discussed the issue again. We will change PIConGPU to store particles with total offset. This requires updating the patch offset and during the restart, we need to find suitable patches based on the new indexing and remove the total index to store particles into our hierarchical structure.

[2022-09-02 09:47] steindev commented on #7
ThermalTest does not exist anymore. There is a new benchmark 'Thermal' which has a README. Can be closed.

[2022-09-02 09:47] #7 closed

[2022-09-04 18:15] weqoll opened #4286 "Field-matter interaction in PIConGPU"
Hello! My name is Egor and I'm 4th grade student in Moscow State University.

I have just started working at ionization in PIConGPU and have already had some troubles with understanding the theoretical basics of this process in the code. As far as am I concerned, your PIC-code brings two main particle types through the simulation: ions and free electrons. While species definition occurs, I use par

[2022-09-05 09:23] sbastrakov commented on #4286
@BrianMarre could you have a look?

[2022-09-05 12:46] BrianMarre commented on #4286
I am not quite sure I understand what you're are actually asking.

In principle, ionization in PIConGPU comes down to creating new free electron macro particles from existing ion macro particles depending on local conditions.

The currently remaining number of bound electrons(read charge state) of a given macro ion is stored for each macro ion in the particle attribute boundElectrons, essentially

[2022-09-05 12:52] #3666 closed

[2022-09-05 15:58] BrianMarre commented on #4091
__init__.py and __main__.py files in the folder test/ have been removed from the CI pyflakes call, all other test files are still required to follow the pyflake coding standards.

@PrometheusPi you may close this issue now

[2022-09-05 16:50] weqoll commented on #4286
Thanks a lot for your attention to my problem! Your introduction really helped me.

[2022-09-06 08:35] BrianMarre commented on #4286
Please remember to close the issue if your questions are answered for now. ;)

You may reopen/(open a new) an issue in the future if further questions arise.

[2022-09-06 14:05] #4286 closed, assigned to nobody

[2022-09-06 14:15] psychocoderHPC commented on #4267
The missing documentation should be fixed with #4289 where I remove cell2Particle with the corresponding pmacc particle foreach algorithm.

[2022-09-06 16:59] #4267 closed, assigned to nobody

[2022-09-06 17:00] BrianMarre commented on #4178
@baobaba13 Please remember to close the issue, if your question was answered.

[2022-09-07 09:16] sbastrakov commented on #4276
Solved with #4283.

[2022-09-07 09:16] #4276 closed, assigned to psychocoderHPC, PrometheusPi

[2022-09-07 16:01] sbastrakov opened #4290 "Stability condition for the Lehe solver implementation seems wrong"
Both me and @PrometheusPi independently noticed some instabilities when using Lehe solver implementation with parameters that are supposed to be in the stable range. The simulated setups were also very different, so that seems like an actual issue at least with PIConGPU implementation. It is possible that our implementation is buggy or have some other defect and the following only applies to it, o

[2022-09-13 12:55] BrianMarre opened #4292 "Inconsistent Naming in SimulationHelperField"
The naming distinction of CellDescription and mappingDesc in <pmacc/fields/SimulationHelperField> is not consistent,

both describe practically the same thing but their name suggest a difference.

[2022-09-15 06:34] summer7807 opened #4294 "Problems encountered in running examples on GPU"
Hi，guys，When I ran the example on ubuntu18.04, I encountered the following problems after `pic-build,` but cuda was displayed on my PC and the version was available. I don't know why. I would be grateful if you could give me some suggestions.
![2022-09-15 14-19-15 的屏幕截图](https://user-images.githubusercontent.com/74045515/190331426-726ea643-c226-47e7-b1e2-096fcf857c5a.png)

[2022-09-15 07:07] sbastrakov commented on #4294
Hello @summer7807 ,

Having `nvidia-smi` and an NVIDIA GPU does not automatically imply you have a CUDA compiler. Or it could be that your system has such a compiler, but somehow cmake does not see it.

Does `nvcc -v` work on your system with that environment? I suspect it would not find `nvcc` either. If so you need to [install CUDA Toolkit](https://docs.nvidia.com/cuda/cuda-installation-guide-li

[2022-09-15 08:08] summer7807 commented on #4294
Hi，@sbastrakov，Before I do this, I want to ask if there is anything to pay attention to in the cuda toolist version. It seems that I have installed it before but still reported an error

[2022-09-15 08:58] sbastrakov commented on #4294
So can you access your CUDA compiler from your terminal? For example, does that the `nvcc -v` command I suggested before work?

[2022-09-15 09:41] summer7807 commented on #4294
Hi，@sbastrakov，I'm sorry that my reply was not timely due to network problems. Yes, I ran `nvcc -V`  but nothing happened

[2022-09-15 10:46] sbastrakov commented on #4294
I am sorry, could you clarify what do you mean by "nothing"?  If you have an `nvcc` and it was found, the output should have been `nvcc fatal   : No input files specified; use option --help for more information` (or something similar to it). If you do not have it, or it is not in your paths, it should be something like `Command 'nvcc' not found`.

In the latter case please check your CUDA installa

[2022-09-15 10:48] sbastrakov commented on #4294
Oh, I now noticed you used `-V` and not `-v` in the command you pasted. The case matters here.

[2022-09-15 10:49] sbastrakov commented on #4294
In case the issue is with paths, please follow this documentation: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#post-installation-actions

[2022-09-15 12:03] summer7807 commented on #4294
Hi, @sbastrakov ,"Nothing" is Command 'nvcc' not found. I then installed the `cuda toolkit`  and configured the environment variables. The later runs are stuck here. I don't know whether the previous problems have been solved. Can you give me some suggestions？
![2022-09-15 20-00-28 的屏幕截图](https://user-images.githubusercontent.com/74045515/190398787-e2fa7e41-3f9d-4506-b8ee-8997c2590995.png)
![2022-

[2022-09-15 12:14] sbastrakov commented on #4294
Okay, so now the compiler was found and the build process started.

Based on your output I see you are using the last PIConGPU release 0.6.0, which is same as our `master` branch. However, your output is cropped so I do not see it fully and thus do not know which host-side compiler did you use. Which version of `gcc` or another compiler did you use? It was shown at the start of `pic-build` output

[2022-09-15 12:26] summer7807 commented on #4294
I think you mean this?
[CMakeOutput.log](https://github.com/ComputationalRadiationPhysics/picongpu/files/9575150/CMakeOutput.log)

[2022-09-15 13:09] sbastrakov commented on #4294
Yes. So everything appears right, and I am not sure what caused the issue.

Perhaps there is some problem with older PIConGPU on more modern software environment. Could you try switching to the `dev` branch (this is our current development version) and building it? The steps to make a setup and compile are generally same, but please make a new setup directory with `pic-create` and follow [these do

[2022-09-15 14:04] summer7807 commented on #4294
I can try to build, but I don't quite understand what you mean by the dev version. Can you give me a link or explain it again? Thank you.

[2022-09-15 14:11] sbastrakov commented on #4294
For that you need to clone the repository as described [here](https://picongpu.readthedocs.io/en/latest/install/dependencies.html?highlight=git%20clone#picongpu-source-code). And then do the update as suggested there and finally `git checkout dev`.

[2022-09-15 14:25] summer7807 commented on #4294
Maybe I don't need to use a very modern software (or compile) environment. Can you provide me with the environment you are using? I'm not sure whether this is a good solution?

[2022-09-15 15:07] psychocoderHPC commented on #4294
PIConGPU (dev branch) is supporting all CUDA 11.X versions.
The master/last release is supporting CUDA 10.X up to 11.2.

@summer7807 The best is what @sbastrakov suggested, please switch to the dev branch. The last release of PIConGPU is not supporting CUDA 11.4, the reason is a bug in the NVDIA nvcc compiler.
Switching to an old version of CUDA is sometimes not easy and it depends on your operati

[2022-09-16 11:51] summer7807 commented on #4294
Hi,@sbastrakov,According to your suggestion, I have successfully built PIConGPU. But when I ran the Bremsstrahlung example, I encountered the following errors. I don't know the reason. Is there a problem with my configuration? Can you give me some suggestions?

![2022-09-16 19-49-54 的屏幕截图](https://user-images.githubusercontent.com/74045515/190632691-cc128612-b5b4-40f3-9807-a190da4ef3e9.png)

[2022-09-16 13:52] sbastrakov commented on #4294
It could be you are running of GPU memory - this setup is quite demanding. It is possible to reduce the grid size by modifying the `.cfg` file. But first could you try the `LaserWakefield` example like our documentation suggests?

[2022-09-17 00:00] summer7807 commented on #4294
I have successfully run `LaserWakefield.` In fact, the example I want to run is `Bremsstrahlung.` I used to run under the `CPU` and failed because of insufficient memory. After reducing the grid, I can run successfully. However, due to the reduction (imprecision) of the grid, the operation results are inaccurate, and many expected physical processes are not shown through simulation, so I switched

[2022-09-19 08:46] sbastrakov commented on #4294
Memory requirements per particle and cell depend on simulation parameters in .param files. However, once the "physics" is defined they are basically fixed and mostly cannot be reduced. Thus your user-side parameter to adjust is how much grid cells you could fit in your GPU memory, as controlled by your `.cfg` file. For that a trial and error process can be used, basically similar to what you have

[2022-09-22 09:41] sbastrakov opened #4299 "Add a way to consistently modify macroparticles' weighting"
This have come up long ago with the particle merger plugins, but now again during discussion of #4293. When developing a part of PIConGPU that needs to change a weighting there is no easy way to do it, while keeping all other attributes consistent.

The issue is as follows:

- Some particle attributes are macroweighted and some are not
- So when changing a weighting, some other attributes also hav

[2022-09-23 09:34] sbastrakov commented on #2472
This was implemented, forgot to close the issue.

[2022-09-23 09:34] #2472 closed

[2022-09-23 09:36] sbastrakov commented on #3850
This is still not implemented as far as I can see. The issue is not super pressing, but stops thermal particle boundaries at global domain boundaries (they require at least 1 cell offset). Reassigning to @psychocoderHPC .

[2022-09-23 09:37] sbastrakov commented on #1997
This is the first real issue I tried to do with PIConGPU but it is still not implemented. Hopefully someone else will have more luck with it

[2022-09-23 09:37] sbastrakov commented on #2500
I think this is no longer relevant, closing.

[2022-09-23 09:37] #2500 closed

[2022-09-23 09:38] sbastrakov commented on #3331
I am not sure what is the status of that, but I guess it is not as originally posted in this issue anyways. So i will close it.

[2022-09-23 09:38] #3331 closed

[2022-09-23 09:39] sbastrakov commented on #2982
This was still not done. However, now PML is the default field absorber and hopefully no longer "exotic" for PIConGPU simulations. Unassigning myself.

[2022-09-23 09:40] sbastrakov commented on #3594
The issue is still open and moderately pressing - now it works fine but is quite fragile if there are changes needed to this part. Unassigning myself.

[2022-09-23 09:41] sbastrakov commented on #3529
I did not have time to do it. Still makes sense in my opinion and now we have a better infrastructure for that. Keeping the issue open and unassigning myself.

[2022-09-23 09:42] sbastrakov commented on #4058
Sorry @cbontoiu it seems that issue got lost. Is it still relevant?

[2022-09-23 10:13] bernhardmgruber commented on #1997
Well, it was almost completed by me in #3834 and #3983. It failed a few CI tests, but the rest was good. Let's see whether I can finish that up at some point.

[2022-09-23 10:30] cbontoiu commented on #4058
@sbastrakov Thanks. This is not relevant anymore to me. I will close the issue.

[2022-09-23 12:02] #4058 closed, assigned to nobody

[2022-09-23 12:15] sbastrakov commented on #4179
Now the suggestion from the paper, section II C is implemented in PIConGPU and is now in effect for PML + absorbing particle boundaries. Documentation is updated to reflect it.

In principle, the "main" scheme from section II A & B can also be implemented, assuming some constant velocity (or even calculating e.g. average velocity on-the-fly). As the paper shows, using `v = c` for all particles sho

[2022-09-23 12:15] #4179 closed, assigned to sbastrakov

[2022-09-28 10:54] summer7807 commented on #4294
Hi,@sbastrakov,

When I ran the example `LaserWakefield,` I suddenly encountered the following problems, which I had never encountered before. I don't know what caused it. Could you give me some suggestions? Thank you very much
![2022-09-28 18-53-30 的屏幕截图](https://user-images.githubusercontent.com/74045515/192761484-239691a1-45a3-4fe8-9d45-d01113355052.png)

[2022-09-29 00:07] weqoll opened #4304 "Simple experimental setup with PIConGPU: weighting and grid sizes"
Hello everyone!

I'm still trying to deal with PIConGPU ionization module by recreating simple experimental setup. It consists of uniformly distributed argon gas (it was implemented due your documentation in github-wiki) and the transversely polarized laser pulse driving from left to right in the simulation box `Lx=4e-6` (meters), `Ly=6e-6` (meters). The pulse is focused into the gas at the ambien

[2022-09-29 07:59] psychocoderHPC commented on #4304
@weqoll Thaks for opening the issue. I have some questions and will ping developers who are more familiar with ionization.

1. Which version of PIConGPU do you used? If dev branch than the commit hash. `git log --pretty=format:'%h' -n 1`
2. Is it possible to append the setup you used for your observation `If I make grid lesser then dx=dy=dx=5e-9(meters), ...` as zip to this issue so that we can se

[2022-09-29 09:08] psychocoderHPC opened #4305 "HIP/ROCm 5.2 is producing wrong results"
When using ROCm 5.2 than the simulation is producing the wrong results.
After analyzing the root of the issue I found out that `ShiftParticles` is broken. (we lose particles over time)
The bug is gone if I revert #4173 for the file `ParticlesBase.kernel`.

I created a reproducer branch to analyze the reason for the bug. https://github.com/psychocoderHPC/picongpu/tree/topic-rocm5.2issue
If the last

[2022-09-29 18:12] weqoll commented on #4304
1. PIConGPU version 0.5.0. I'm not sure if that's a dev branch, I installed it from spack
2. [IP-21sep22-adk.zip](https://github.com/ComputationalRadiationPhysics/picongpu/files/9677968/IP-21sep22-adk.zip) -- that's basically my setup for this experiment.
3. e_macroParticlesCount.dat
![image](https://user-images.githubusercontent.com/112808096/193110442-2f50d90b-f23f-47f8-84c6-90f8f7f2e747.png)
4.

[2022-09-29 18:31] BrianMarre commented on #4304
First, I think you misunderstood what the parameter
´´´TYPICAL_PARTICLES_PER_CELL´´´ does.

This parameter does not set the number of macro particles to spawn, it is merely a hint by the user towards how many macro particles picongpu is supposed to expect per species and cell.

The actual target macro particle number per cell is set for each specie s separately in the init.param of picongpu, set t

[2022-09-29 19:59] weqoll commented on #4304
Thanks for your answer.

In this setup I'm using ADKLinPol model of ionization. I'll be delighted to receive your explanation about ionization. Because of that I'm keeping this issue opened. Also there is high possibility that I'll have another questions to this issue.

[2022-09-29 21:57] weqoll commented on #4304
However, I didn't saw any file called init.param.
Did you mean unit.param? Or did you write about some *.param file inside PIC core that cannot be edited by "pic-edit" command?

[2022-09-30 06:25] BrianMarre commented on #4304
Sorry, the file is called speciesInitialization.param

[2022-09-30 09:59] weqoll commented on #4304
OK, thanks for your explanations, I'll keep studying this code! Also I'll be waiting for your ionization models characteristics here next week, if you don't mind!

[2022-09-30 14:25] psychocoderHPC commented on #4305
It looks like this issue is solved in ROCM 5.3.0. I tested a preview version where this bug is not shown again.

[2022-10-04 14:12] PrometheusPi opened #4310 "hemera v100: openPMD-api output to hdf5 - simulation hangs"
Running the **default** Laser Wakefield example on **hemera V100 GPUs** using the `h5` backend of openPMD-api instead of the `bp` backend, leads to a hanging simulation.
I could run the simulation with `bp` without any problems. Switching to `h5` resulted in a hanging simulation right after init.
The first `h5` output file was written but never closed.

[2022-10-06 16:16] BrianMarre opened #4311 "Documentation example output for MemoryCalculator is broken"
In our current dev the documentation example of using the MemoryCalculator is broken.

see the bottom of [readthedocs](https://picongpu.readthedocs.io/en/latest/usage/workflows/memoryPerDevice.html#usage-workflows-memoryperdevice)

I am not quite sure why because the memory calculator itself is not using typesafe declarations.

[2022-10-09 11:39] cbontoiu opened #4316 "Asymmetry of the laser pulse"
Hi,

I am using a circularly polarized laser pulse of high intensity with the default _PML_ settings and "Yee" as solver. I don't know why the head and the back of the laser pulse are not symmetric. Please let me know if there anything you would suggest trying, such as:
(a) decreasing the absorber power of the _PML_;
(b) reverting the default absorbing zone as defined by the `grid.param` file;
(c)

[2022-10-10 10:50] PrometheusPi commented on #4316
Thanks @psychocoderHPC for assigning - I will have a look now.

[2022-10-10 11:01] PrometheusPi commented on #4316
@cbontoiu
The spotsize of your laser is w_0=0.8µm. The length of the box from center to absorber is around L_x/2=1.5µm. Your laser pulse has a duration-length of tau*c = 38fs * c = 0.1µm.
The only thing I can think off right now is, that your laser spot size is to large for your simulation box and that you (even with PML) clip your laser pulse transversely and thus influence the back of the pulse

[2022-10-10 11:35] psychocoderHPC commented on #4316
@cbontoiu Could it be that the asymmetry behind the laser is within the PML area? Fields within the PML area will not propagate physically correctly. Could you propagate the laser a little bit deeper into the vacuum?
The default thickness of the PML area is 12 cells (see `fieldAbsorber.param`) if not changed.

[2022-10-11 07:03] kimjohn1 commented on #4012
I agree the issue is resolved.  Excellent job finding the problem and
identifying a resolution!

Thanks,
Kim

On Mon, Apr 4, 2022 at 6:31 AM Sergei Bastrakov ***@***.***>
wrote:

[2022-10-11 21:07] steindev commented on #4194
@pordyna can this be closed?

[2022-10-11 21:08] steindev commented on #4182
@wmles does the issue still exist?

[2022-10-11 21:09] #4178 closed, assigned to nobody

[2022-10-11 21:24] steindev commented on #4159
Closing this issue now, as it seems more dangerous/confusing to split profile definitions across several files, while updating a profile is a simple copy-paste task.

The idea of the profile is, to bundle all user specific definitions.
A picongpu triggered update of the profile represents just one reason to update it, environment software updates, path changes or similar represent other reasons. S

[2022-10-11 21:24] #4159 closed, assigned to nobody

[2022-10-12 11:50] #4194 closed, assigned to nobody

[2022-10-13 14:50] PrometheusPi opened #4319 "positionOffset (still) wrong in openPMD output"
With the bug fix #4283 the discrepancy between the mesh positionOffset and the particle positionOffset was fixed. Now both should agree.

This week @JessicaTiebel had a look at the *default* LWFA example and observed discrepancies between the mesh and the particle positions. The PIConGPU version used was `0.7.0-dev` with `commit 5788150dbba29288be24c4a886e51f279fdde1d0` from Oct 5 2022 and thus sh

[2022-10-14 14:14] PrometheusPi commented on #4319
The fix suggested in the comments of #4283 is not solving the problem.
![grafik](https://user-images.githubusercontent.com/5121158/195868633-54000293-b631-402b-8b9a-c8b4765736d0.png)

[2022-10-14 17:27] steindev opened #4322 "Give laser profiles a more meaningful name"
See discussion in PR #4302.

[2022-10-14 17:31] steindev opened #4323 "Allow to set a time difference `PULSE_DELAY` with respect to simulation start at which the maximum of a laser profiles enters the simulation box"
See discussion in PR #4302.

[2022-10-14 17:35] steindev opened #4324 "Add reference with theory of `DispersiveLaser` implementation to the profile definition"
Promised in PR #4302, once it is available.

[2022-10-14 17:37] steindev commented on #4311
@BrianMarre Pls try to fix.

[2022-10-14 17:43] steindev commented on #4294
Will close. Original issue seems to be resolved. Further problems seem to originate in lack of resources.

[2022-10-14 17:43] #4294 closed, assigned to nobody

[2022-10-14 17:48] steindev commented on #4270
Then pls provide a fix for dev/doxygen documentation page.

[2022-10-14 17:49] steindev commented on #4249
Fixed w/ #4301.

[2022-10-14 17:49] #4249 closed, assigned to steindev

[2022-10-14 17:51] steindev commented on #4239
@Anton-Le what is the status here? I remember offline discussions about possible solutions and test simulations...

[2022-10-14 17:51] steindev commented on #4193
Ping @PrometheusPi

[2022-10-14 17:54] steindev commented on #4199
@etiennemlb is your original question answered? If so, please close the issue.

[2022-10-14 17:55] steindev commented on #4204
Ping @wmles. Any opinion on the last question by @StevE-Ong?

[2022-10-14 17:56] steindev commented on #4205
No further questions, will close.

[2022-10-14 17:56] #4205 closed, assigned to nobody

[2022-10-14 18:01] steindev commented on #4272
Anyone volunteering to provide a fix (for the help message of `tbg`)? @lennertsprenger @psychocoderHPC @steindev

[2022-10-14 18:59] PrometheusPi commented on #4193
@steindev Thanks for pinning. Totally oversaw this issue.

@baobaba13 Thanks for reporting and sorry for taking that long.
This looks like a serious issue. I suspect that no photons are created. I assume you used either the `1.cfg` or `8.cfg` for the setup. In both cases, there are two photon specific outputs:
 - the photon energy histogram
  - the photon calorimeter
 Could you please tell be, wha

[2022-10-15 07:40] #4199 closed, assigned to nobody

[2022-10-18 07:24] finnolec commented on #4323
Is it maybe better, to set `PULSE_DELAY` to the time (in SI units), when the laser pulse is in its focus position? At least for probing simulations this would require less adjustments, when one e.g. resizes the simulation box. But I can see, how this can be weird to define for the non-focused lasers, [although they also have](https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/inclu

[2022-10-18 08:56] SimeonEhrig commented on #4311
I will fix it

[2022-10-18 17:01] steindev commented on #4323
Agreed, we have to think thoroughly to find a definition appropriate for all our use cases.

[2022-10-19 11:35] psychocoderHPC commented on #4323
discussed in dev meeting: Maybe it is not useful to have only a single value`PULSE_DELAY`, maybe we need a functor to handle different use cases where the delay has a different meaning.
Independent of the outcome we should keep the PICMI standard in mind that we not build something which is hard to use or implement with PICMI.

[2022-10-19 12:05] steindev opened #4330 "Remove `LD_LIBRARY_PATH` in dependency build instructions in docs"
Not necessary anymore due to PIConGPU standardly using `RPATH`.

[2022-10-26 14:00] finnolec opened #4331 "Constant field artifact in PNG plugin"
Hello, this here is a vacuum simulation (no density.param) from the current dev branch at timestep 0.

![e_png_yz_0 5_000000](https://user-images.githubusercontent.com/45068748/198044094-768af48a-7f3a-477e-88bd-7056f3c94f05.png)

Here is a PNG file from later from the simulation, when the Gaussian pulse (that is implemented through the incident field) enters the simulation box:

![e_png_yz_0 5_001

[2022-10-27 10:17] berceanu opened #4332 "Ionisation for gas mixture"
Hi all 👋

In `fbpic` one can use a gas mixture when simulating LWFA by defining the densities of the two gases separately and then computing the total electron density and creating each ion species. The documented [example](https://fbpic.github.io/example_input/ionization_script.html) shows how to do this for a 20% Nitrogen - Helium mixture.

How can a similar setup be achieved using `PIConGPU`? O

[2022-10-27 10:49] pordyna commented on #4332
Hi @berceanu,
you could have a look at the FoilLTC example. It is not LWFA, but it has a mixture of different elements and also includes pre-ionization like in your `fpic` example. The most relevant param files are `density.param`, `speciesDefinition.param` and `speciesInitialization.param` (and `particle.param` for the ionization). Also, @BrianMarre may know how one can set it up in python with `

[2022-10-27 11:37] steindev commented on #4332
Yes, the FoilExample setup is a very good place to start and should tell you everything you need @berceanu. If you have more specific questions, feel free to ping @PrometheusPi (or me), he is doing these things regularly.

[2022-10-27 12:47] berceanu commented on #4332
I guess this is one of the things that `PICMI` will make much easier, porting input files between codes. Is it already implemented in `PIConGPU`?

[2022-10-27 12:56] pordyna commented on #4332
Some support for PICMI is already in dev, but not in the release yet. https://picongpu.readthedocs.io/en/latest/usage/picmi/index.html

[2022-10-27 15:18] berceanu commented on #4332
OK, sorry for the crappy "graphics", but basically the idea is this: we (@StevE-Ong and I) would like to simulate a 2% Nitrogen - Helium mixture, starting from He2+ and N3+.

![notes](https://user-images.githubusercontent.com/4405658/198326878-05cab61f-0f92-41b2-a60c-9b309ac0ccbb.jpeg)

We have made changes to the [param files](https://gist.github.com/berceanu/80b4644e96f25ac2119d7ff089238719)

Ho

[2022-10-27 15:30] StevE-Ong commented on #4332
For `BASE_DENSITY_SI=7.8e24`, then He ion density should be around half of it for fully ionized. The second picture is kind of make sense for 98% He...slightly lower than `7.8/2e24`. I am not sure about others. Can anyone have the experience to set up density for doping gas help? Thanks.

[2022-10-27 16:33] PrometheusPi commented on #4332
HI @berceanu and @StevE-Ong,
we run doped LWFA  simulations with PIConGPU quite often. The workflow is as follows:
0.) Since in our case, we can assume a weak pre-pulse (or an intentional ionization laser) to ionize all electrons from He and **all but 2** (why is the photo of your derivation using 3?) electrons from the Nitrogen molecules, we will only simulate electrons that are already free (fro

[2022-10-27 16:44] PrometheusPi commented on #4332
The values from your plots look correct to me. If you assume an electron density of 0.78e25 m^-3 the expected He density in cm^-3 is 8e18 cm^-3 * 0.5 = 4e18 cm^-3 - which as you mentioned seems to match. But Nitrogen density should be 0.0194 * 0.78e25 m^-3  = 1.5e17 cm^-3  - also that agrees as you mentioned.